[2017-10-02 16:15] marci4 commented on #561
Hello @hattie0312,

I think there could be an issue if you close the connection immediately.
I will fix this!

Greetings
marci4

[2017-10-02 17:26] marci4 commented on #564
Hello @idontusenumbers,

do you have some steps to reproduce for me?
I would like to see what causes the problem.
Could you please also answer the following questions:
- On what Java version is your server running?
- On what Chrome version is your client running?
- Are you using SSL?

To your propsed fix: I am sorry to say but these changes cause a lot of autobahn test cases to fail! (Right now we

[2017-10-02 23:48] idontusenumbers commented on #564
jdk1.8.0_92
Version 61.0.3163.100 (Official Build) (64-bit)
No SSL

I briefly looked through the tests I found and didn't see anything that actually tests the protocol; Is the bulk of the test cases somewhere else?

I don't know the specs well enough to use the correct terminology, but the outline of what causes the issue is in the original issue description; Send the following frames to the serve

[2017-10-03 08:23] marci4 commented on #564
Hello @idontusenumbers,

there is a testsuite (https://github.com/crossbario/autobahn-testsuite) which I always use to test any changes.

Well for me the chrome api does not provide the possibility to send fragmented frames.
Could you provide a code snippet, which causes the error.

Gonna add a getter for knownExtensions with the next commit to allow make this possible!

Greetings
marci4

[2017-10-03 14:51] OmriSoudry opened #565 "Null pointer exception on Draft?"
Running a websocket server, I started using Firefox as a web client in an old PC, and since then I'm getting this weird error spontaneously (it can be several minutes after establishing a connection and exchanging data):

Oct  3 18:08:04 System root:    at java.lang.ClassLoader.defineClass1(Native Method)
Oct  3 18:08:04 System root:    at java.lang.ClassLoader.defineClass(ClassLoader.java:763)
Oc

[2017-10-03 14:52] sonwh98 opened #566 "String decoding problem"
I am using https://github.com/cognitect/transit-java to send json encoded messages between server and client.

On the server I'm using Clojure transit to encoded the list ["a" "b"] which gives the string ``"[\"a\",\"b\"]"`` with  a hashCode of  -939944225

On the client in the WebSocketClient.onMessage I get a  message=``"[\"a\",\"b\"]"`` with a hashCode of  -120497949. The string when printed to

[2017-10-03 17:04] marci4 commented on #565
Hello @OmriSoudry,

thx for your bug report.

I got a few questions:
- Where is the NullPointerException? I just see a ClassFormatError
- What is your java version and what is your lib version?
- Are you using Java 8? If so, maybe update your java. There was a compiler error in a version (see [stackoverflow](https://stackoverflow.com/a/26240214))

Greetings
marci4

[2017-10-03 17:10] marci4 commented on #566
Hello @sonwh98,

thx for your bug report!
I feel that this issue is not related to the project itself but to the transit-java project.
The reason for this is, that the encoding is there not specified (see [this](https://github.com/cognitect/transit-format/issues/18) open issue).
For the websocket protocol it is specified that if you are sending a TextFrame, it's payload has to be encoded in utf-8.

[2017-10-03 18:29] marci4 commented on #543
No answer for over a month and no clear question/issue.

Closing!
Greetings
marci4

[2017-10-03 18:29] #543 closed

[2017-10-03 18:36] sonwh98 commented on #566
thanks for responding. I will report the handshake error in a different issue

transit is UTF-8 encoded.  I have no problem using it from the javascript side in a web browser.

in the onMessage callback the hashCode of  message:``"[\"a\",\"b\"]"`` is  -120497949. However, in the same code block doing ``"[\"a\",\"b\"]".hashCode()`` gives  -939944225 as it does on the clojure side on the server. Thi

[2017-10-03 19:20] marci4 commented on #566
Hello @sonwh98,

well, it could be fine on for the browser since you don't compare the string on the hashCode level.

So you are saying the hashCode changes after a hashCode() call?

Thx for your input. That is right now not possible due to the 1.5 java version support (keeping the android support in mind)

Greetings
marci4

[2017-10-04 05:46] idontusenumbers commented on #564
My app sends files from the client (Chrome) to a server (using this library). The app basically sends an "incoming file" message (string) with the name and size; then when it receives a response back it starts sending the file in a dynamically sized chunks (based on network conditions in an attempt to target between 100 and 500ms per chunk.

This first manifested when I sent three files in a row t

[2017-10-04 05:49] idontusenumbers commented on #564
Regardless of what my app is doing, the logic in that method doesn't seem sound, unless I just don't understand how the protocol works. Try tracing through the logic with a hypothetical partial BINARY then the completing CONTINUOUS.

[2017-10-04 09:28] sonwh98 commented on #566
@marci4 I think I know whats going on, but I do not know if this is the proper behavior.

encoding a vector in transit ["a"] produces the string `` "[\"a\"]" `` which has 5 character and a hasCode of 85147669

in the onMessage the value of the message is the string `` "\"[\"\"a\"\"]\"" `` which has 9 characters and a hasCode of -467583827

it seems the string in the message has extra `"`. is this

[2017-10-04 10:36] sonwh98 commented on #566
@marci4 ok i think this is a problem with the serverside clojure websocket lib i'm using https://github.com/jarohen/chord I sent a raw clojure vector without encoding it with transit and got the expected string on the kotlin side. This shows that chord websocket library already does some kind of encoding before sending it to the client. It works on clojurescript in the browser only because i'm usi

[2017-10-04 10:36] #566 closed

[2017-10-04 17:34] marci4 commented on #564
Hello @idontusenumbers,

could you provide a simple example application? I have no clue how to send chunks of messages in chrome and I have not found any documentation.
Are you sure that you don't have to overwrite `onWebsocketMessage( WebSocket conn, ByteBuffer blob )`?

Could you also activate the debug mode to get additional info?
You can to this with `WebSocketImpl.DEBUG = true` before you sta

[2017-10-04 17:55] marci4 commented on #521
Most likely related to https://github.com/TooTallNate/Java-WebSocket/pull/535#issuecomment-334198931
That would be an error in the webrtc websocket.

Closing issue!
Greetings
marci4

[2017-10-04 17:55] #521 closed

[2017-10-08 04:45] idontusenumbers commented on #564
I tried to pare down what I'm working on to something small and reproducible. I have attached the source code.

Start WebSocketTest then load the HTML file. The HTML file will connect to the server and send a bunch of dummy data. The blue progress bar should get to the end; it gets to the end with my changes I mentioned earlier.

The app I'm writing is used to upload files to the server. With my c

[2017-10-09 16:25] marci4 commented on #564
Hello @idontusenumbers,

thank you very much for the time you invested to set up this sample.

Here are some of my test results:
It is working fine with the following combinations:
- Firefox 57.0b6 and 1.3.4
- Firefox 57.0b6 and master code
- Microsoft Edge 40.15063.0.0 and 1.3.4
- Microsoft Edge 40.15063.0.0 and master code
I have an issue with the following combinations:
- Chrome 62.0.3202.45 an

[2017-10-09 18:07] marci4 commented on #564
Hello @idontusenumbers,

here is an additional update.
I think you found the cause for one of the oldest issues on this project! **THANK YOU VERY MUCH!** :)

Need to test the changes against the testsuite again and make them work! :)

Greetings
marci4

[2017-10-09 18:09] #539 closed

[2017-10-10 13:32] felippeduran commented on #390
The pull request #567 fixes the exactly issue mentioned by the item 1.

Regarding the item 2, I had the same issue when trying to handle a status code 503 during the HTTP handshake (mentioned on the pull request).

What seems to be a good solution is to make the `Draft_6455` propagate these status codes to the websocket class and then expose it as a connection failure instead of `CloseFrame.PROTOC

[2017-10-10 16:43] forresthopkinsa commented on #559
I'll try Google Translate. @hhhaiai  :

我在用谷歌翻译

marci4想知道这些问题

首先，你有这个问题吗？

接下来，您正在使用什么版本的Android？

你使用ws还是wss？

哪些端点有问题？

什么步骤导致问题？  重现步骤

[2017-10-10 20:31] marci4 commented on #564
Sorry for closing the issue!

Could you please check if #570 is fixing this issue for you?

Thank you again for your support.
Greetings
marci4

[2017-10-10 20:31] marci4 commented on #559
Could you please check if #570 is fixing this issue for you?

Greetings
marci4

[2017-10-10 20:31] marci4 commented on #525
Could you please check if #570 is fixing this issue for you?

Greetings
marci4

[2017-10-10 20:31] marci4 commented on #423
Could you please check if #570 is fixing this issue for you?

Greetings
marci4

[2017-10-10 20:32] marci4 commented on #300
Could you please check if #570 is fixing this issue for you?

Greetings
marci4

[2017-10-10 20:34] marci4 commented on #390
Hello @felippeduran,
I will be able to test this issue probably in two days.

Regarding the item 2, what do you think of an additional onError call with an exception indicating an invalid http status code?

Greetings
marci4

[2017-10-10 20:34] marci4 commented on #547
Issue answered. No feedback.
Closing issue!

Greetings
marci4

[2017-10-10 20:34] #547 closed

[2017-10-12 03:21] hattie0312 commented on #561
thanks for your reply

[2017-10-12 03:21] #561 closed

[2017-10-12 04:18] idontusenumbers commented on #564
It works!

I cloned the repo (considering it was already merged) and it seems to be working fine now. Thanks!

The other refactoring broke my modified Draft but that's alright since I don't need it anymore.

[2017-10-12 07:04] marci4 commented on #564
What exactly did I break?

Thx for your effort!

Greetings
marci4

[2017-10-12 07:05] marci4 commented on #564
What exactly did I break?

Thx for your effort!

Greetings
marci4

[2017-10-12 14:10] idontusenumbers commented on #564
Because of the access levels on some of the methods before, it was easiest to bring in the code for whole class and change what I needed. The recent changes that made readVersion private prevent that code from running; removing just the method the override of acceptHandshakeAsServer was not possible since it was abstract. I suspect getting the version information from a handshake is a common task

[2017-10-12 16:23] marci4 commented on #564
Well you should not need to overwrite acceptHandshakeAsServer() since you will always use Draft_6455 as a base class.
Apart from that thank you very much for your help!

Closing this issue since it is solved.
Greetings
marci4

[2017-10-12 16:23] #564 closed

[2017-10-12 16:24] marci4 commented on #300
This issue should be solved. If not feel free to open a new issue!

Greetings
marci4

[2017-10-12 16:24] #300 closed

[2017-10-12 16:24] marci4 commented on #423
This issue should be solved. If not feel free to open a new issue!

Greetings
marci4

[2017-10-12 16:24] #423 closed

[2017-10-12 16:24] marci4 commented on #525
This issue should be solved. If not feel free to open a new issue!

Greetings
marci4

[2017-10-12 16:24] #525 closed

[2017-10-12 16:49] marci4 commented on #390
Hello @felippeduran again,

I added a reason for the onClose call, if there was an error with the status code or status line.

Issue should be solved by that.

Greetings
marci4

[2017-10-12 16:49] #390 closed

[2017-10-12 18:17] marci4 commented on #316
No steps to reproduce. No response.

Closing a dead issue

[2017-10-12 18:17] #316 closed

[2017-10-13 03:30] lifubang commented on #554
@marci4 in onOpen event, we can get ClientHandshake param, so we can get cookie value by handshake.getFieldValue("Cookie"). But in onMessage event, there are no ClientHandshake param, how to get cookie?

You may know, in web application, each controller may need cookie value to store the user's data. So I think in onMessage event, we may need cookie field.

[2017-10-13 14:44] marci4 commented on #554
Hello @lifubang,
what you are describing is just a feature reqest which is #485.
You are able to access these fields onOpen and if you need them later you may wanna save them in a separate map.

Closing issue since it is solved!
Greetings
marci4

[2017-10-13 14:44] #554 closed

[2017-10-13 14:45] marci4 commented on #557
Closing issue since it is solved!

Greetings
marci4

[2017-10-13 14:45] #557 closed

[2017-10-13 16:38] marci4 commented on #463
Extension system in place.
Implementation of different extensions for future release.

[2017-10-13 16:38] #463 closed

[2017-10-13 16:40] marci4 opened #574 "Implementation of per message deflate extension"
Planned for a future version!

https://tools.ietf.org/html/rfc7692

[2017-10-13 17:09] marci4 opened #575 "1.3.5 is available!"
A lot of bug fixes :) ENJOY!

_It may take some time til it is pushed to all servers!_

[2017-10-16 17:06] yuripourre commented on #575
Awesome news! Thank you.

[2017-10-17 03:31] lixuebo0630 commented on #256
Anyone successful in reconnecting ?

[2017-10-19 12:27] tiagosantos1988 commented on #575
There is a problem with sending ping. If there isn't network it throws an exception. It didn't happend in version 1.3.4.

[2017-10-19 12:39] tiagosantos1988 commented on #256
Here is an example class that reconnects the websocket whenever the connection is lost:

`public class JWebSocketClient {

   private final int PING_INTERVAL = 50000;
   private final int RECONNECT_INTERVAL = 10000;
   private final int WEBSOCKET_TIMEOUT = 5;
   private static JWebSocketClient instance;

   private WebSocketClient websocketClient;
   private IWebSocketListener listener;

   privat

[2017-10-19 16:38] marci4 commented on #575
Hello @tiagosantos1988,

please open a seperate issue for this!

Greetings
marci4

[2017-10-19 16:38] #575 closed

[2017-10-19 16:43] marci4 opened #577 "Improve onClose behaviour on client side"

[2017-10-19 19:50] marci4 commented on #577
Issue solved!

Greetings
marci4

[2017-10-19 19:50] #577 closed

[2017-10-20 10:38] tiagosantos1988 opened #579 "Exception with sending ping without server access"
There is a problem with sending ping. If there isn't server access it throws an exception. It didn't happend in version 1.3.4.

[2017-10-20 16:10] tiagomartines11 commented on #579
I believe the new version is failing to detect some disconnection state before dispatching internal commands.
These are some traces that are related to this issue:
[code]

[code]

[2017-10-21 07:16] marci4 commented on #579
Please use the template provided for any bug report...

[2017-10-21 12:46] sepehr1014 commented on #424
Hundreds of our users are currently having this issue. Could you give any clues on how to solve this problem or where exactly it stems from?

[2017-10-21 15:48] pcdv opened #580 "Client and server leave some threads running after close()"
I've been wanting to submit (or fix) this one for a long time.

My test runs the following code several times in a row
[code]

then checks that after a while, no new threads are still alive.

## Expected Behavior

When both the server and the client are closed, all created threads should die (at least after a given delay).

## Current Behavior

Most of the time, some threads are still running afte

[2017-10-21 19:55] mmucha-redhat opened #581 "Error in 'ChatServer' example?"
I wrote prototype app, 99% the same. When I start server, and connect to it with client and then terminate server via stop() method, client connection (probably) will still hold respective port open (netstat -anp still reports it, but without associated process). Only after some time (tens of seconds) it's released.

Looping over opened connections and closing them before calling stop() fixes this

[2017-10-22 07:15] pcdv commented on #580
After more investigation, the bug seems to be on client side. I gave more explicit names to created threads:
[code]

So visibly, the client is indefinitely trying to read on its socket which has not been closed by the server. If the socket was closed, the 3 threads would probably terminate as part of the cleanup. Looks like this happens when the server is killed too soon after the client sent its

[2017-10-22 15:35] marci4 commented on #580
Hello @pcdv,

thank you very much for your bug report and the time you invested into it!

I will look into this tonight :)

Greetings
marci4

[2017-10-22 15:50] marci4 commented on #424
Hello @sepehr1014,
this issue is caused by a bug in the android framework which was introduced in the Android L preview and made it into the release...

The only way to fix this issue is just to replace the current SSLChannel implementation with a total new one...
Any contribution is very welcome since my time for this project is limited to work!

Greetings
marci4

[2017-10-22 16:19] pcdv commented on #580
Hi Marcel,

I pushed all the changes on my fork (the test + naming threads more explicitly). I can submit a PR if you like (the test suite is green when closeConnection() is called).

FYI the behavior is indeterministic when I remove the close()/closeConnection() call: sometimes the client is disconnected, sometimes not.

Thanks

[2017-10-22 16:24] marci4 commented on #580
Hello @pcdv,

I will take a look on your fork as well and come back to you!
Still I feel that the test suite should be green with close() as well.

Apart from this, of course test suites are always very welcome :)

Timing issues are the best issues.... not ;)

Thank you!

Greetings
marci4

[2017-10-23 09:47] hattie0312 opened #582 "After onClose still receive message and isOpen() returned true"
## Expected Behavior
After onclose,not more received message, and isOpen() returned false.

## Current Behavior
onClose(int code, String reason, boolean remote) is called.Connection closed by us ,code: 1000,reason:
After that,still received message, and isOpen() returned true.

## Your Environment

* Version used:1.3.4
* Java version:
* Operating System and version:
* Endpoint Name and version:
*

[2017-10-23 15:25] Forsties08 opened #584 "Problem with WSS/HTTPS - ERR_SSL_PROTOCOL_ERROR"
## Current Behavior
I trying to regenerate my certificate with tihs #540 but it still doesn't work.

## Debug log (for bugs)
Server (when im trying to connect):
Removing connection which is not in the connections collection! Possible no handshake recieved! org.java_websocket.WebSocketImpl@369fa284
Connection closed because of javax.net.ssl.SSLHandshakeException: no cipher suites in common

Client:

[2017-10-23 15:28] tiagosantos1988 commented on #579
The problem I'm having is exactly that quoted by @tiagomartines11 .

[2017-10-23 15:30] Forsties08 commented on #584
Oh, and my site / application WS are on different hosting

[2017-10-23 15:42] marci4 commented on #582
Hello @hattie0312,
there are still some information missing for me to understand your issue.
Are you talking about the client oder server side?
Please provide some steps to repeat...
The template is in place for a reason to help me to fix/develop more stuff in my limited time available...

Greetings
marci4

[2017-10-23 15:50] marci4 commented on #584
Hello @Forsties08,

what are you using as a client?
What kind of certificate are you using? Self Signed? Lets Encrypt? Other? And does the other endpoint trust it?

The message just says that both endpoints don't have any cipher suites in common.
The vm option `-Djavax.net.debug=all` can help to find out if there is a problem with the certificate.
This will activate additional debug printouts so y

[2017-10-23 15:53] marci4 opened #585 "Extend wiki documentation for debugging ssl errors"
Make a wiki page to show common ways to debug and solve ssl errors.

## Expected Behavior

-vm option `-Djavax.net.debug=all`
-remove/allow specific cipher suites/protocols
-#599

## Context

There are a lot of issues which may have all the same cause/way to fix

[2017-10-23 16:04] Forsties08 commented on #584
Hi ! thanks for your reply.

Debug with the option:
Removing connection which is not in the connections collection! Possible no handshake recieved! org.java_websocket.WebSocketImpl@426675d6
Connection closed because of javax.net.ssl.SSLHandshakeException: no cipher suites in common

I use this code
https://github.com/TooTallNate/Java-WebSocket/blob/master/src/main/example/SSLServerCustomWebsocketF

[2017-10-23 16:20] marci4 commented on #584
Hello @Forsties08,

It looks like you have not activated the vm option. You have to do something like `java -Djavax.net.debug=all -jar Server.jar` to activate the vpm option.

Well this will not work since you create the certificate for localhost/127.0.0.1 `CN=127.0.0.1`.

You can check it with https://########:#### using the same url/port as for wss.

Greetings
marci4

[2017-10-23 16:43] Forsties08 commented on #584
I regenerate the certificate with the adress.

Here is the debug from server when im trying to connect : https://hastebin.com/fehudavifo.txt

Do i need a domain or i can use directly my adress ?

When i go to the url (https://ipadress:port), i have this error on the developer tools, in the network tab :

The certificate for this site does not contain a Subject Alternative Name extension containing

[2017-10-23 16:58] marci4 commented on #584
Hello @Forsties08,

if you use the ip address in your certificate, then you have to connect via ip address.
If you use a hostname in the certificate, use the hostname.

You have to add an exception for this certificate then! (Each browser allows this in a different way!)

Then you should be able to connect!

Greetings
marci4

[2017-10-23 17:30] Forsties08 commented on #584
OK thanks, i fixed the error with the SAN, but the https is always broken. How i can see what is missing ?

[2017-10-23 17:32] marci4 commented on #584
Hello @Forsties08,
there should always be a 404 Websocket Upgrade Failure since it is a different specification!

Greetings
marci4

[2017-10-23 17:41] Forsties08 commented on #584
What do you mean ? sorry i dont understand ?

I trying my url here https://www.sslshopper.com/ssl-checker.html

And he said all good except :

The certificate is self-signed. Users will receive a warning when accessing this site unless the certificate is manually added as a trusted certificate to their web browser. You can fix this error by

So, i think i can use my domain ? and use the Let's Encr

[2017-10-23 17:47] marci4 commented on #584
Hello @Forsties08,

well, you cannot use a self signed certificate for production. Of course you have to use a signed certificate...
Cheapest way is of course Let's Encrypt.

Maybe you should inform yourself about SSL a bit more before you start such a project!

Greetings
marci4

[2017-10-23 19:00] Forsties08 commented on #584
Sure, i found a solution with a proxy apache + Let's Encrypt, all works now ! thanks for your help

[2017-10-23 19:00] #584 closed

[2017-10-23 19:42] marci4 commented on #580
Hello @pcdv,

sorry for getting back to you just today!

Well there are a few things to consider
- the websocket protocol requires a close frame to be received to close a connection.  (see [here](https://tools.ietf.org/html/rfc6455#section-1.4))
-what you are testing is working, just not instant. But to the the required response by the other endpoint that is not possible!

Could you please elabora

[2017-10-23 20:04] pcdv commented on #580
Hi @marci4,

The context is a suite of automated tests simulating client and server processes that communicate together and are then killed. I need instant close because it makes the suite faster (with several hundred tests it can have a non negligible impact).

The instant cleanup is required because my tests are configured to fail if they leave some dangling threads behind. In my fork, this is e

[2017-10-23 20:17] marci4 commented on #580
Hello @pcdv,

if you just require a client-server communication without a proper handshake close, then `closeConnection()` is just fine!

Closing this issue as solved!
Greetings
marci4

[2017-10-23 20:17] #580 closed

[2017-10-23 20:46] marci4 commented on #581
Hello @mmucha-redhat,

could you please use the [template](https://github.com/TooTallNate/Java-WebSocket/blob/master/.github/ISSUE_TEMPLATE.md) for your bug report.

Right now I do not understand what you are doing and what you are expecting.

Greetings
marci4

[2017-10-23 21:06] mmucha-redhat commented on #581
There isn't an error. I was just a suggesting to close all connections before closing server in your demo ChatServer implementation, since otherwise it does not close port immediately on linux.

[2017-10-23 21:06] #581 closed

[2017-10-24 05:23] marci4 commented on #581
Sorry to post on your closed issue!

This is not how the closing handshake works for the RFC 6455. A connection is closed when the endpoints receives a close frame.
The websocket server is sending these frames during stop(), which he has to receive to close the connection!

Greetings
marci4

[2017-10-24 19:25] marci4 commented on #579
With your poor description, it took me half an hour to reproduce your first issue with sendPing().

Without proper steps to repeat I cannot reproduce the second issue!

Greetings
marci4

[2017-10-24 23:25] meghneelgore opened #587 "WebsocketClient.close() does not call stopConnectionLostTimer()"
If connectionLostTimeout is not set to 0, results in a WebsocketNotConnectedException at WebsocketImpl.send() (around line number 606) after connectionLostTimeout number of seconds after WebsocketClient.close() is called.

This is basically because the WebSocket is closed but the connectionLostTimer tries to send a ping frame anyway.

## Expected Behavior

Should not throw WebsocketNotConnectedExc

[2017-10-24 23:26] meghneelgore commented on #587
One workaround is to call WebsocketClient.setConnectionLostTimeout(0);

[2017-10-25 05:14] marci4 commented on #587
Hello @meghneelgore,

thank you for your bug report.
Will test it later when I am back home!

Could you maybe check if this issue is fixed already with #586 ?

Greetings
marci4

[2017-10-25 06:04] lvc opened #588 "API changes review for Java WebSocket"
The review of API changes for the Java WebSocket library since 1.3.0 version: https://abi-laboratory.pro/java/tracker/timeline/java-websocket/

The report is updated 3 times a week. Hope it will be helpful for users and maintainers of the library.

The report is generated by the https://github.com/lvc/japi-tracker tool for jars at http://central.maven.org/maven2/org/java-websocket/Java-WebSocket/

[2017-10-25 10:50] mmucha-redhat commented on #581
Sorry about this report; examining stop method it indeed closes all connections. However, on my env, it does not close port if any connection is opened before calling stop. And calling Websocket.stop(going_away) myself before closing WebSocketServer 'seemed' to remove this issue.

I might be wrong on that, I saw issue just a few times. I'll try to reproduce again, and if I do, I'll post proper bug

[2017-10-25 19:59] marci4 commented on #588
Hello @lvc,

thank you very much for these information!
This is very interesting for me :)

Greetings
marci4

[2017-10-25 20:05] marci4 commented on #587
Hello @meghneelgore,

I can not reproduce this issue any more!
Most likely fixed with #586.

Could you please confirm this?
Greetings
marci4

[2017-10-26 10:33] trashCoder555 opened #590 "Invalid status code received: 520"
Hello everyone.
Im using android studio and trying to connect socket.
After mWebSocketClient.connectBlocking();
i got "Invalid status code received: 520"

using ver. 1.3.5
(Tested with many others - same, not working)

My code:
    private void connectWebSocket() {
        URI uri;
        try {
            uri = new URI("wss://socket.etherdelta.com");
            // uri = new URI("ws://echo.webso

[2017-10-26 17:57] marci4 commented on #590
Please use the template provided for any bug report. It is there for a reason to help me understand the problems.

[2017-10-26 23:05] JeremyJT opened #592 "rabbitmq message broker heartbeat frame problem"
When we use stomp over websocket, the heartbeat frame's opcode is 1 instead of 0x9 or 0xA.
## Expected Behavior

The heartbeat frame's opcode should be 0x9 or 0xA.
## Current Behavior

## Possible Solution

## Debug log (for bugs)

The log from RabbitMQ:

STOMP detected missed client hearbeat(s) on connection 127.0.0.1:43352 -> 127.0.0.1:61613, closing it
## Context

## Your Environment

* Version

[2017-10-27 06:38] trashCoder555 commented on #590
All I'm doing is trying to connect wss.
And first callback is called is onClose.

{GET / HTTP/1.1
Connection: Upgrade
Host: socket.etherdelta.com:443
Sec-WebSocket-Key: WePxYcl8ybLXIBKYzBtd/A==
Sec-WebSocket-Version: 13
Upgrade: websocket
}
Disconnected, reason = Invalid status code received: 520, exit code = 1002

[2017-10-27 06:59] trashCoder555 commented on #590
If i'm trying to connect "ws://socket.etherdelta.com" instead of "wss://socket.etherdelta.com"

I got this:

javax.net.ssl.SSLHandshakeException: Handshake failed
Caused by: javax.net.ssl.SSLProtocolException: SSL handshake aborted: ssl=0xdfd0f200: Failure in SSL library, usually a protocol error
error:140770FC:SSL routines:SSL23_GET_SERVER_HELLO:unknown protocol (external/openssl/ssl/s23_clnt.c:7

[2017-10-27 13:31] trashCoder555 commented on #590
api was broken...
with another link it works fine

[2017-10-27 13:31] #590 closed

[2017-10-29 16:12] marci4 commented on #592
Hello @JeremyJT,

you are not using the Java-Websocket project directly, am I understanding you there correctly?
If that is the case, please open a separate issue there!

Greetings
marci4

[2017-10-30 07:22] yurong1024 opened #593 "webSocekt closes after a few minutes connected, and the params of code in onclose() method return 1006"

[2017-10-30 12:32] #593 closed

[2017-11-01 08:44] RichieJi opened #594 "can this lib support socketio.js?"
when I use IE8 & IE9，I cannot use websocket.

[2017-11-01 09:57] studenttwok opened #595 "Plan to support endpoint?"
Hi all,

I would like to know if the library support multiple endpoints?
I read the server example and found that I can create the websocket server, but no place for me to specify the endpoint names.
So currently I can make ws://localhost:1234/ , but I am not able to make ws://localhost:1234/MyEndPoint1 and ws://localhost:1234/MyEndPoint2 at the same time.

Thanks.

[2017-11-02 20:12] marci4 commented on #592
Duplicate of NaikSoftware/StompProtocolAndroid/issues/84

Closing issue!
Greetings
marci4

[2017-11-02 20:12] #592 closed

[2017-11-03 13:11] 8databit opened #598 "Memory Management"
Hey,

I'm kinda worried about the following thing. Let's say a user sends a 20MB message of any type, I think as how it is now it will store the final 20MB in the RAM memory, logical to me, using a ByteBuffer.  This, i think, can cause an issue when multiple clients are sending big amounts of data. Is there a way to limit the size of a message incoming at the server, being more precise: being stor

[2017-11-03 14:54] marci4 commented on #594
Hello @RichieJi,

IE8 to IE10 are not supported by Microsoft any more!
DO NOT use these versions!

That is why there is no need for this project to support socketio.js

Greetings
marci4

[2017-11-03 14:54] #594 closed

[2017-11-03 15:24] marci4 commented on #595
Hello @studenttwok,

to my knowledge there is no way to have multiple SocketSever running on the same port.
It is technically not possible without some managing software, which redirects incoming request so the specific endpoint, to have multiple endpoints on one port.

Greetings
marci4

[2017-11-03 17:09] ken-kentan opened #599 "Failed SSL Handshake (Android)"
## Current Behavior
Failed to SSL Handshake when connecting to [SSL server](https://github.com/TooTallNate/Java-WebSocket/blob/master/src/main/example/SSLServerExample.java).
But, can connect some other SSL server. like, `wss://echo.websocket.org`

## Steps to Reproduce (for bugs)
1. Launch a [SSL server](https://github.com/TooTallNate/Java-WebSocket/blob/master/src/main/example/SSLServerExample.j

[2017-11-04 03:03] ken-kentan commented on #599
added description.

[2017-11-04 09:26] marci4 commented on #598
Hello @8databit,

thank you for your concerns!
Yes you are understanding this correctly. It will be stored as a big bytebuffer and maybe later converted to a string as well,
Right now there is no limit in place. I know that you can send files with some MB over websockets without any problems (for streaming videos e.g.).

Where did you saw throttling? There should not be any!
Well that is a mystery

[2017-11-04 14:22] 8databit commented on #598
Hey,

Call me Joyie, Well i maybe read the code wrong but ur adding a queue which holds the bytebuffers if im corrrect. This queue has a limitation of how many buffers it holds, so this is some sort of throttle.
`	protected void allocateBuffers(WebSocket c) throws InterruptedException {
		if (queuesize.get() >= 2 * decoders.size() + 1) {
			return;
		}
		queuesize.incrementAndGet();
		buffers.put(

[2017-11-04 14:55] 8databit commented on #485
I agree with lifubang, add an getter/setter in the class mentioned for just an Object
`private Object attachment = null;`

This is the best way sinse we dont have to find the address of the object inside an iterator of some sort.
Maybe add it to the websocket interface too, would be good sinse it's somewhat a standard thing to add custom information/references to a socket.

I highly disagree with

[2017-11-04 16:08] 8databit commented on #517
"So I will probably add a thread pool for every received message as well as message to write to reduce load of this thread."

Adding a new thread for every message being send and received is a really bad idea.  Every processor handles 1 thread. If you add more threads it will just be virtual, it will switch between threads on the assigned processor core. There is a limit on how many threads can be

[2017-11-04 17:52] ken-kentan commented on #599
I tested on emulated Android device.

I could connect to server with old Android (less API 23).
But, newer Android (API 23~) did not.

Maybe, I think the SSL WebSocketServer using not supported cipher suite in newer Android.

[2017-11-05 03:19] ken-kentan commented on #599
Resolved #540

[2017-11-05 03:19] #599 closed

[2017-11-05 16:26] marci4 commented on #599
Hello @ken-kentan,
the SSLWebsocketServer is using the enabled cipher suites and protocols.
It depends on your android version which are enabled and therefore active!

Looks like it could be SSLV3, which may have caused the issue! There are many threads on stackoverflow because of that!

Happy you managed to solve it on your own!
Next time please include the description right away then I can take

[2017-11-05 16:53] marci4 commented on #598
Hello Joyie,

well I always considered this part just as a performance booster to reduce the need allocate new bytebuffer and reuse it out of the queue.
It could theoretically delay the amount of incoming frames, but it does not throttle them!

For me your suggestion is not really intuitive. A user excepts a onMessage call to contain a complete received message.
The problem which such a limit is a

[2017-11-05 19:22] marci4 commented on #517
Hello Joyie,

No I would like to let the received and send messages be handeld by a separate thread pool, I do not wanna spawn new threads for each message.
The reason for this is that I would like to reduce the load on the Selector thread and also make it more proof against slow handshakes (like the firefox ssl handshake...)

Well most of the users expect some sort of threadpool in the background

[2017-11-05 19:25] marci4 commented on #485
Hello Joyie,

Everything mentioned here (Map or Object) can be implemented on a application level as well!

The question is what is the best approach for most of the users of this project!

Greetings
marci4

[2017-11-05 19:30] marci4 commented on #565
No feedback for over one month!

There is no NullPointer exception in the provided stacktrace!

Closing issue.
Greetings
marci4

[2017-11-05 19:30] #565 closed

[2017-11-05 19:30] marci4 commented on #559
Any update?

[2017-11-05 19:34] marci4 commented on #225
No feedback for months!

If you still have an issue with that, please open a separate issue again!
Greetings
marci4

[2017-11-05 19:34] #225 closed

[2017-11-05 19:34] marci4 commented on #200
No feedback for months!

Please open a separate issue if you still have any problem!
Greetings
marci4

[2017-11-05 19:34] #200 closed

[2017-11-05 19:36] marci4 commented on #210
No feedback!

If you still have this issue, please open a separate thread!
Greetings
marci4

[2017-11-05 19:36] #210 closed

[2017-11-05 19:37] marci4 commented on #167
No feedback!

If you still have this issue, please open a separate thread!
Greetings
marci4

[2017-11-05 19:37] marci4 commented on #323
No feedback!

If you still have this issue, please open a separate thread!
Greetings
marci4

[2017-11-05 19:37] #323 closed

[2017-11-05 19:38] marci4 commented on #397
No feedback!

If you still have this issue, please open a separate thread!
Greetings
marci4

[2017-11-05 19:38] #397 closed

[2017-11-05 19:40] marci4 commented on #413
No feedback!

If you still ave this issue, please open a separate issue!
Greetings
marci4

[2017-11-05 19:40] #413 closed

[2017-11-05 19:51] #313 closed

[2017-11-05 19:53] marci4 opened #600 "Extend wiki documentation for extensions"
Make a wiki page on how to program a extension

## Expected Behavior

-explain the nessesary methods which has to be implemented by a extension

## Context

Make it clear how to develop a extension!

[2017-11-06 13:32] 8databit commented on #598
Heyy marci!

Thanks for ur reply. I get what you mean, I was just giving an example ^^.  Your right it should be implemented with care. I have taken a look inside the files again and maybe it's an idea to look at:
10.7.  Handling of Invalid Data of the RFC 6455 docs.  This might be a solution, or not lmao need u to verify this.

translateSingleFrame(); inside Draft_6455.
[code]
If we came till thi

[2017-11-07 06:36] dlluotian opened #601 "org.java_websocket.exceptions.WebsocketNotConnectedException"
org.java_websocket.exceptions.WebsocketNotConnectedException
	at org.java_websocket.WebSocketImpl.send(WebSocketImpl.java:606)
	at org.java_websocket.WebSocketImpl.sendFrame(WebSocketImpl.java:632)
	at org.java_websocket.WebSocketImpl.sendPing(WebSocketImpl.java:639)
	at org.java_websocket.AbstractWebSocket$1.run(AbstractWebSocket.java:132)
	at java.util.Timer$TimerImpl.run(Timer.java:284)

hi,My

[2017-11-07 09:04] sowd commented on #167
I am sorry for not responding. Since the project related this topic had ended long ago, I had to recompile the project again. It has not been successful because of Android change, not because of this issue.
So I redeveloped the similar code and still getting unsuccessful result, but I could not find the real issue yet. Since I still cannot put high priority on this topic now, I follow your advice.

[2017-11-08 20:53] marci4 commented on #167
Hello @sowd,

sorry for closing your issue!
You don't have to feel bad. It is just that often people forget to close their issues or their issues getting solved in some way so thats why I often clean up dead issues!

Do you want me to look into it?

Greetings
marci4

[2017-11-08 20:55] marci4 commented on #601
Probably duplicate of #579

[2017-11-08 21:59] marci4 commented on #598
Hello Joyie,
sorry for the delayed answer.

I think [https://tools.ietf.org/html/rfc6455#section-10.4](section-10.4) is a better solution.

The point you mention received all the bytes out of the socket already!
So that would not really be a good point in my opinion. A quicker throttle would be better in my opinion (maybe quickcheck the payload size of a non complete frame)

Yes, it is also necess

[2017-11-09 05:16] sowd commented on #167
Thank you, @marci4!

Actually it is no problem to close this issue because currently it is hard for me to find time to check whether this is solved or not (must be solved, I believe!)
The trouble I have now is about handshaking, which may be related to #599. I'll reopen this issue when I will find #167 is still remaining.

[2017-11-09 05:16] #167 closed

[2017-11-09 07:57] 836608061 opened #602 "How to handle redirect"
Dear sir,
         per title, how to handle url redirect and where can do the operation?
Thanks.

[2017-11-09 17:59] marci4 commented on #579
Should be fixed with new version..

Closing issue!
Greetings
marci4

[2017-11-09 17:59] #579 closed

[2017-11-09 18:00] #601 closed

[2017-11-10 09:59] woky opened #605 "Concurrency is undocumented"

[2017-11-10 16:00] #605 closed

[2017-11-11 01:33] hackermike opened #606 "WebsocketNotConnectedException in Timer-0 ping"
While running about 16 websocket connection threads, Timer-0 thread notified that 3 had disconnected then later logged the following exception. After that point, Timer-0 did not report anything else.

Exception in thread "Timer-0" org.java_websocket.exceptions.WebsocketNotConnectedException
        at org.java_websocket.WebSocketImpl.send(WebSocketImpl.java:606)
        at org.java_websocket.WebSo

[2017-11-12 16:21] marci4 commented on #606
Hello @hackermike,
This issue should be solved with 1.3.6

Greetings
marci4

[2017-11-12 16:29] marci4 commented on #602
Hello @836608061,

this client does not support HTTP redirect.
Not even the chrome websocket does support this. Why do you need such a feature?

Greetings
marci4

[2017-11-12 18:19] mwfrandsen commented on #606
Thank you! I'll give the update a try in the morning.

[2017-11-12 19:58] #585 closed

[2017-11-13 01:55] richdyang opened #607 "How to stop WebSocketServer when users kill the App rather than normally exit"
WebSocketServer is not implemented as a Service on Android, so it will keep alive when users kill the App directly.

What should I do to handle this case? There is no lifecycle callback to stop the server.

Application.onTerminate() won't be called.
Activity.onDestroy() won't be called when killing the App.

[2017-11-13 20:33] hackermike commented on #606
The line numbers have changed but I see the same exception:

Exception in thread "Timer-0" org.java_websocket.exceptions.WebsocketNotConnectedException
        at org.java_websocket.WebSocketImpl.send(WebSocketImpl.java:598)
        at org.java_websocket.WebSocketImpl.sendFrame(WebSocketImpl.java:624)
        at org.java_websocket.WebSocketImpl.sendPing(WebSocketImpl.java:631)
        at org.java_

[2017-11-14 03:22] hackermike commented on #606
I haven't been able to reproduce this except the first time so perhaps I didn't run the correct update on the first try. (?)

[2017-11-14 09:38] amerp commented on #606
Can confirm, I'm also getting exception in version 1.3.6
Fatal Exception: org.java_websocket.exceptions.WebsocketNotConnectedException
       at org.java_websocket.WebSocketImpl.send(WebSocketImpl.java:598)
       at org.java_websocket.WebSocketImpl.sendFrame(WebSocketImpl.java:624)
       at org.java_websocket.WebSocketImpl.sendPing(WebSocketImpl.java:631)
       at org.java_websocket.AbstractWeb

[2017-11-14 12:19] rjbergTU commented on #485
Now that I checked all this, I agree that a Map per websocket might be overkill for many applications. However, I do believe some way to distinguish between clients in the server is needed. A clientid field should suffice for this.

However, I do have a small warning: If multiple clients are handled in different threads, it might be handy to have a map for each client, as my initial proposal. The

[2017-11-14 14:12] mwfrandsen commented on #606
This might be wild speculation but I'll put this here in case related - not sure I have enough to give it as an issue itself. I have about 16 connections coming and going that last a few seconds to a few minutes. Maybe 10 in 6000 of these seems to get a "disconnected" message for no reason. (I don't set timeouts but typically is 90-100 seconds after client stops sending and is waiting for server t

[2017-11-14 20:27] marci4 commented on #606
Could you guys provide some steps to repeat?
I cannot reproduce this in my development setup.

Greetings
marci4

[2017-11-14 20:28] marci4 commented on #607
Hello @richdyang,

this lib is not designed for Android only! Due to that reason I cannot implement such methods!

Please implement them and call the respective methods on the websocket server!

Greetings
marci4

[2017-11-14 21:36] hackermike commented on #606
I will try to send more when I have it. Since this seems related to some close/open mismatch, here are a couple logs from onClose() where isOpen() returned true:
org.java_websocket.WebSocketImpl@74690a93 id=conn3 isClosing=false closed=false reported as closed but is marked open. Not removing!
org.java_websocket.WebSocketImpl@908bb2 id=conn13 isClosing=false closed=false reported as closed but is

[2017-11-14 21:37] marci4 commented on #598
Hello Joyie,

I implemented your recommended changes.
Could you please take a look at them?
You can find them here!
https://github.com/marci4/Java-WebSocket-Dev/tree/ReceivedLimit

To set a lower limit then Integer.MAX_VALUE, call the constructor for Draft_6455 with your specific limit in bytes.

Greetings
marci4

[2017-11-14 21:56] marci4 commented on #606
Do both of these issues still exist with this version?
https://www.dropbox.com/s/o9vdm7iwyvcxia8/java-websocket-1.3.7-dev.jar

Greetings
marci4

[2017-11-15 01:53] hackermike commented on #606
Thanks again! I started a test with this but it will take a couple hours to run and I won't be able to check it more until morning. I am seeing some errors already, though.

So far: two cases show websocket closed that is still marked as open - and then errors later trying to write to it.

FYI: The other endpoint is JavaScript running through node directly. It sends a stream to the server and read

[2017-11-15 13:34] nik17klika opened #608 "Sec-WebSocket-Protocol header not supported"
## Expected Behavior

When client sends handshake it should be able to set "Sec-WebSocket-Protocol" header to establish connection, also Server should send "Sec-WebSocket-Protocol" header in handshake response

## Current Behavior

No "Sec-WebSocket-Protocol" supported

## Possible Solution

Update Draft_6455 class at least to return "Sec-WebSocket-Protocol" in  server response, and think how cust

[2017-11-15 17:18] marci4 commented on #606
This feature requires the endpoint to implement the specification correctly!
Just having a normal socket running will of course cause the connection to be closed!

Greetings
marci4

[2017-11-15 17:21] marci4 commented on #608
Hello @nik17klika,

thank you for your feature request.

I will try to set something up tonight!
Can I then get some feedback from you?

Greetings
marci4

[2017-11-15 17:36] hackermike commented on #606
Is there a known issue with websockets in Javascript? I was simply setting a long timeout so I could assume a disconnect was due to a dropped connection instead of a timeout. Or, do you mean to suggest I should set the timeout to 0 to disable the feature entirely?

In any case, shouldn't querying a connection in onClose() be marked as closed or closing instead of open?

[2017-11-15 18:03] hackermike commented on #606
Example just to give more detail of Javascript websocket endpoint:

const WebSocket = require('ws');

    this._ws = new WebSocket("ws://...");
    this._ws.on('error', (e) => this.emit('error', e));
    this._ws.on('open', () => this._ws.send(INT_MESSAGE));
    this._ws.on('message', (data) => {
      var message = JSON.parse(data);
      ...
    });
    this._ws.on('close', () => console.log('Co

[2017-11-15 18:21] marci4 commented on #606
Well you said something about streams and not a websocket so I expected something different.

Yeah, on onClose the WebSocket should not be open!
If you can provide some steps to repeat, which always work, I would really appreciate that!

Greetings
marci4

[2017-11-15 18:26] hackermike commented on #606
Oh, stream of audio via base64 encoded audio chunk messages.

I don't yet have a small standalone example and will need to work on that. I won't have that right away, though.

[2017-11-15 20:44] marci4 commented on #608
Hello @nik17klika,

I implemented some changes on [this](https://github.com/marci4/Java-WebSocket-Dev/tree/protocol) branch.
Could you please take a look at this and tell me if this is sufficient. Thank you!

To apply a protocol, you have to use call the constructor of the Draft_6455 the following way!
`new Draft_6455( Collections.<IExtension>emptyList(), Collections.<IProtocol>singletonList( new

[2017-11-15 21:42] marci4 commented on #606
Hello @hackermike,

I found a possible cause for your problem.
Could you check this please? https://www.dropbox.com/s/o9vdm7iwyvcxia8/java-websocket-1.3.7-dev.jar?dl=0
This should not cause any problems any more!

Greetings
marci4

[2017-11-15 21:50] marci4 opened #609 "A connection will be in readystate Open when onWebSocketClose is called"
_This is just a tracking issue!_

The reason for that is that for example when the method eot() is called, closeConnection() is called directly without calling onClose().  But in onClose() the readystate is changed to closing.

Since closeConnection() is setting the readystate to closed at the end of the method, this is not a real issue, just looks bad.

## Expected Behavior

connection is in read

[2017-11-15 21:56] marci4 commented on #609
Waiting for feedback on #606 to close this issue!

[2017-11-15 22:01] marci4 commented on #312
Closing old issue without any clear exception.

Greetings
marci4

[2017-11-15 22:01] #312 closed

[2017-11-16 00:06] hackermike commented on #606
Looking better so far! I'm about halfway through (6000+ inputs) and the only logged issues are:

23:29:46.920 org.java_websocket.WebSocketImpl@75b08bbf id=conn92 Unexpected exception sending message: org.java_websocket.exceptions.WebsocketNotConnectedException
23:29:47.799 org.java_websocket.WebSocketImpl@75b08bbf id=conn92 has disconnected! code=1000 reason='' remote=true isOpen=false isClosing=t

[2017-11-16 01:07] hackermike commented on #606
Thanks! It's looking like those two cases above, processing of stream has ended and client has closed stream. Server just happens to send its periodic status message thinking the connection is still live and might get another audio stream - but fails since client has already closed the connection. So, I wouldn't consider either of those problems.

I'm not seeing any suspicious onClose() calls but

[2017-11-16 03:22] szuwest commented on #587
I think this happens on the server have close but client not

[2017-11-16 09:35] Harlber opened #611 "Retry send() automatically"
As title say ,
Is there any better way to implement retry `send()` action after exception automatically?
Thanks in advance!

Version used: `1.3.6`
Operating System and version: `Android`
Module: `Client`

[2017-11-16 11:15] nik17klika commented on #608
Hello @marci4 ,
thanks for fast response, I guess your changes enough to use Sec-WebSocket-Protocol header

[2017-11-16 16:40] marci4 opened #612 "Test development for Sec-WebSocket-Protocol"
Develop JUnit tests for Sec-WebSocket-Protocol

## Expected Behavior

- [x] Protocol constructor and copyInstance()
- [x] Check default Draft_6455
- [x] Check Draft_6455 copyInstance
- [x] Check handshake error

[2017-11-17 13:32] Tonacatecuhtli commented on #607
Hi @richdyang did you implement this method? because I have the same problem and it would be nice to know how you handled it.

[2017-11-18 13:36] marci4 commented on #606
Any update?

[2017-11-18 16:27] hackermike commented on #606
The extraneous onClose() with wrong state is no longer an issue. So, this part can be closed. Thanks!

But, a different issue started that looks like a "stalled" websocket that I haven't been able to track down. I haven't seen this before so it could be that some bug was introduced or could be unrelated. (In previous cases, the websocket might get closed for no reason. It seems it might stop respo

[2017-11-18 16:34] marci4 commented on #609
Feedback indicates this bug is fixed!

[2017-11-18 16:34] #609 closed

[2017-11-18 16:36] marci4 opened #613 "Test development for #609"
Develop JUnit tests for issue #609

## Expected Behavior
- [ ]  Cause a eot() which cause a dc

[2017-11-18 16:41] marci4 commented on #606
Hello @hackermike,

thank you for your feedback. I closed the corresponding issue #609 due to your feedback!

Could you open a separate issue for that issue?
Greetings
marci4

[2017-11-18 22:04] #608 closed

[2017-11-18 22:04] #612 closed

[2017-11-18 22:06] marci4 commented on #611
Hello @Harlber,

You can always check with isOpen() if the connection is already open!

Greetings
marci4

[2017-11-18 22:10] marci4 commented on #582
Any update?

[2017-11-18 22:44] #613 closed

[2017-11-19 18:34] jebej opened #616 "onFragments methods"
Hello, it seems that the `onFragment` methods have been deprecated recently, what is the suggested replacement?

Thanks for all the hard work!

[2017-11-19 19:04] marci4 opened #618 "Extend wiki documentation for Sec-WebSocket-Protocol"
Make a wiki page on how to use the Sec-WebSocket-Protocol
## Expected Behavior
-explain the nessecary constructor calls
## Context

Make it clear how to set a Sec-WebSocket-Protocol

[2017-11-19 19:08] marci4 commented on #616
Hello @jebej,

the problem with onFragment was that it was not intuitive. A user expects a message send in Chrome to be received with` onMessage()`.
So I changed everything that all fragmented messages will get combined to a complete frame which will call the respective `onMessage()` method.

So to answer your message, just use` onMessage()`.

Greetings
marci4

[2017-11-20 05:27] Harlber commented on #611
Got it，Thanks a lot！

[2017-11-20 05:27] #611 closed

[2017-11-20 15:54] jasuade opened #619 "Modification of IP fields; DS field previously known as ToS"
Hello,
I write to ask if it is already implemented, or if it can be implemented with this library a method to
modify one of the fields if the IP header.
The field is the DS (previously known as  Type of Service: ToS) and is used to perform DiffServ.
This method is implemented in java.net.socket as setTrafficClass(int tc) and it "sets traffic class or type-of-service octet in the IP header for pack

[2017-11-21 08:10] szuwest commented on #606
I met this problem,too. it happens when server is stop(crash), but client does not know.Then client send ping, it crash

[2017-11-21 20:27] marci4 opened #620 "Investigate cause for #580"
Find out the cause and a workaround for #580

## Expected Behavior

No thread should be running!

## Current Behavior

WebSocketServer.stop() is most likely to fast for the socket
WebSocketServer.stop(timeout) has no effect

## Possible Solution

## Steps to Reproduce (for bugs)

1. Run Issue580Test multiple times

## Debug log (for bugs)

[code]

## Your Environment

* Version used: 1.3.7-dev
* J

[2017-11-21 21:03] marci4 commented on #620
Calling selectorthread.interrupt() will of course stop the sending the messages...

[2017-11-22 00:08] hackermike commented on #606
@szuwest Can you elaborate? The issue that I'm currently seeing is that websocket seems to simply stop responding for no reason. I'm not sure how to submit that as a bug as as I don't have a crash or exception - but it seems to be a new behavior after these recent fixes.

[2017-11-22 14:26] peace-maker opened #621 "conn.close() in server's onOpen method causes null pointer exception"
## Expected Behavior
Closing the websocket connection in onOpen should be possible.

## Current Behavior
Calling `conn.close()` in `public void WebSocketServer::onOpen(WebSocket conn, ClientHandshake handshake)` leads to a NullPointerException. The socket is still closed correctly, but an error is logged.

## Steps to Reproduce (for bugs)
1. Run a server which closes new connections right away in

[2017-11-22 15:44] marci4 commented on #621
Hello @peace-maker,

thank you for your bug report!
I will take a look at it.

Greetings
marci4

[2017-11-22 16:22] marci4 commented on #621
Hello @peace-maker,

I looked into it. The stacktrace is from a caught exception. Still this exception should not happen.

Commited a fix for this. Could you please check if this is fixed for you as well?

Greetings
marci4

[2017-11-22 16:24] marci4 commented on #619
Hello @jasuade,

right now there is no way to modify this field.
I, of course, can add this, if it has any use.

Could you maybe elaborate why you need such a feature, especially since it is up to the underlying architecture to use it or not?

Greetings
marci4

[2017-11-23 08:41] jasuade commented on #619
Hi @marci4,

Well, it's something complicated I will try to simplify. I am developing a system (gateway) with two main components that connect to each other through an SDN network, developed and managed by me also, in this SDN network you can manage the traffic attending to this DS field, so that I want to mark the traffic getting out from a component to be treated in a different way depending on

[2017-11-23 10:24] marci4 commented on #619
Hello @jasuade,

to be honest I don't think this is useful for other people.
Especially since it is not required that a gateway handels the trafific different.

So I would like you to fork and adjust it to your needs!

Greetings
marci4

[2017-11-24 02:19] oscarthecat commented on #559
He is asking about the 8KB receiving cache size limit, which can be set with custom values.
And forresthopkinsa's translation with google is read good in Chinese :)

[2017-11-24 02:30] oscarthecat opened #623 "sendHandshake on android may have a bad request"
**Android platform**
current master branch

`WebSocketClient.java`
[code]
in which `String part2 = uri.getRawQuery()`, which returns url decoded string in android

[code]
it's may cause a bad request.

[2017-11-24 02:35] oscarthecat commented on #623
And I just check URI.java in java 1.8
[code]

[2017-11-24 04:56] marci4 commented on #559
I have no clue what he is taking about. Could you elaborate what he means with cache size limit and what the expected behaviour is ?

Greetings
marci4

[2017-11-24 16:31] marci4 commented on #602
Any update?

[2017-11-24 16:34] #403 closed

[2017-11-24 19:21] promatik opened #625 "How to handle WebSocket messages inside an User"
Hi!
I am migrating my java socket server to a **web** socket server with your library.

Previously I had a class `User` that handled the user messages because it was a thread always waiting on `inputStream.read()` it processed the message there, and depending on the message type (a kind of protocol I created), it would perform some operations in the object, like a login (saving that info in the `U

[2017-11-24 21:27] peace-maker commented on #621
Hi @marci4,

works good now without any more log spamming.

Thank you!

[2017-11-25 07:32] VayneKaso opened #626 "Why callback webScoketclient's onClose() so immediately when close network by myself on Android phone"
I finished my development tasks that dependency your lib in Android platform . but I have a question
: why callback onClose  immediately when close network by myself on Android phone? do you have some special implements about network listener on Android platform？

[2017-11-25 08:06] #621 closed

[2017-11-25 15:27] VayneKaso commented on #626
sorry ，my English is not very well .I mean is the library can auto to callback  webScoketclient's onClose() and its so immediately when close network by myself on Android phone

[2017-11-26 21:04] marci4 commented on #625
Hello @promatik,

Right now it is not possible to assign a WebSocket additional values.
There is however a an open discussion on such a new feature in issue #485

So right now you have to use a map for assigning additional values to a websocket.

Gretings
marci4

[2017-11-26 21:06] marci4 commented on #623
Hello @oscarthecat,

I will not change this without any known issue.
Why should this cause a bad request?
What is a bad request for you?

This code was changed due to this report here #247

Greetings
marci4

[2017-11-26 21:09] marci4 commented on #626
Hello @VayneKaso,

this is most likely due to the underlying network layer directly indicating a disconnect.
There is nothing special this lib does on android, especially since it is mainly targeting Java.

Greetings
marci4

[2017-11-27 08:07] VayneKaso commented on #626
thanks for your reply

I want to know in this lib . there are some frameworks or operates that likely loop pull to check the network state?

[2017-11-27 16:11] #582 closed

[2017-11-27 16:12] #595 closed

[2017-11-27 20:51] fagnerng commented on #606
I had the same problem when on a poor connection, (hspa connection)

[2017-11-28 11:34] marci4 commented on #606
Hello @fagnerng,

could you check if this issue still occurs with the current master branch?

Greetings
marci4

[2017-11-28 15:26] promatik commented on #625
Thank you @marci4, I'll close this issue and continue there.

[2017-11-28 15:26] #625 closed

[2017-11-28 16:55] hackermike commented on #606
Building from master as of this morning fails with the following on Ubuntu 16.04, java version "1.8.0_151".

Running org.java_websocket.issues.Issue621Test
Tests run: 1, Failures: 0, Errors: 0, Skipped: 0, Time elapsed: 0.001 sec - in org.java_websocket.issues.Issue621Test

Results :

Failed tests:
  Issue580Test.runNoCloseBlockingTestScenario0 Found 3 zombie thread(s)
  Issue580Test.runNoCloseBlo

[2017-11-28 17:02] marci4 commented on #606
Hello @hackermike,

just skip the tests. They are for me (jenkins checking against every commit)
Build it with ` -Dmaven.test.skip=true clean package`

Greetings
marci4

[2017-11-29 08:35] marci4 commented on #626
Hello @VayneKaso,

no, we are relying on the `InputStream.read()` method.

Greetings
marci4

[2017-11-30 16:15] promatik commented on #485
Hi everyone!
I just created a pull request for this feature #627.

After reading all your comments I ran some tests between having an `HashMap` or creating a getter and a setter to an object, and clearly `HashMap` was a lot worst, even with fewer connections.

My implementation is pretty simple to use, here is an example on how to set the attachment on `onOpen` and access it on `onMessage`:

[code

[2017-11-30 19:53] #620 closed

[2017-11-30 20:19] marci4 commented on #606
Hello @hackermike,

you can also use this version. https://www.dropbox.com/s/um5gcwy9ax5imiu/Java-WebSocket-1.3.7-dev.jar?dl=0

Greetings
marci4

[2017-12-01 00:20] ericjs opened #629 "Web app server interoperability"
How does one specify an endpoint? All the examples I find seem to assume that all you specify is the port when creating a WebSocketServer, and the path is the root address of the server. Is the assumption that  it is not be not running under a web application server? (My aim was to use it in a webapp running under Tomcat.)

[2017-12-01 16:24] forresthopkinsa opened #630 "Question: Does onError call onClose?"
Hi @marci4 , you might remember me from the StompProtocol library. An issue was raised in my repo concerning websockets closing after `onError` is called. The issue was in the context of using OkHttp, but it brought the question to my attention.

I'm just asking because I haven't seen this clearly documented anywhere and I'd rather get a canonical answer than guess-and-check.

**When the client en

[2017-12-03 16:04] marci4 commented on #630
Hello @forresthopkinsa,

the JavaDoc for the WebSocketClient is missing for this I quess.
The onError method for the WebSocketServer is a bit more clear in this case.
`Called when errors occurs. If an error causes the websocket connection to fail onClose(WebSocket, int, String, boolean) will be called additionally.
This method will be called primarily because of IO or protocol errors.
If the given

[2017-12-03 16:11] marci4 commented on #185
Hello everyone,

I feel that this is not accomplished in a easy way.
I, of course, could just add a callback, if frame with fin bit set, is send to a different endpoint.
Providing a callback for every frame send would force the application user to decode the frame on his own.

I am open for any other ideas :)

Greetings
marci4

[2017-12-04 20:46] marci4 commented on #485
This issue is implemented with #627.

Thanks a lot to @promatik for his contribution!

Greetings
marci4

[2017-12-04 20:46] #485 closed

[2017-12-04 20:48] marci4 commented on #629
Hello @ericjs,

this project was not designed to run under a web application server.
I personally haven't used Tomcat so I would need your input for the required changes.

Greetings
marci4

[2017-12-04 21:19] marci4 opened #632 "Extend wiki documentation for attachment"
Make a wiki page on how to use the attachment method
## Expected Behavior

-explain the methods
-reference the example

[2017-12-05 01:09] ericjs commented on #629
Hi marci4,
Thanks for the reply. If you wanted to make this usable in a web app server I'm not sure I'd be the best person to listen to, as I'm not sure what I want is what most other web app devs want. Your project appealed to me because it was simple and not a "framework" like Atmosphere, and I was hoping to do something minimal, without using annotations, or relying on any automagic mechanisms

[2017-12-07 06:33] marci4 commented on #629
Hello @ericjs,

well, still you have more experience then I do right now! :)

Everything we do cannot break the current system. I cannot enforce some annotations or stuff like that.

I will keep this in mind and when I got more time on my hands I will take a look at this!

Greetings
marci4

[2017-12-07 14:17] ericjs commented on #629
Ok. I've already moved on using the websocket support that comes built into Tomcat (after trying a few other  libraries) for my task at hand. But if you ever come back to it, feel free to ping me again, I'll be happy to offer ideas and maybe try it out.

[2017-12-08 00:37] forresthopkinsa commented on #630
Ah, I see. Got it. Thanks!

And yeah, for anyone else wondering, OkHttp combines OnError and OnClose into one method, OnFailure.

[2017-12-10 04:56] venkateshthallam opened #634 "Websocket connection gives timeout exception while running on a remote host"
I have been able to successfully connect to an external WebSocket server and get the data. Moved the same code to Digital Ocean and the WebSocket connection fails with a timeout. I added logs and it fails when it sends a message and waits for the response.

Was wondering if there's an issue with the IP address and if I have to mention the IP and port specifically somewhere in the code or config.

[2017-12-11 16:41] marci4 commented on #634
Hello @venkateshthallam,

right now I am not sure who I can help you anyway.

You should provide:
- the stack trace for this exception and the exception itself
- your enviroment (lib version, java version, operation system and version etc etc)
- your constructor call or some steps to repeat
- the debug log using `WebSocketImpl.Debug = true;`

Greetings
marci4

[2017-12-11 17:14] marci4 commented on #630
Hello @forresthopkinsa,

Is this question answered for you? Can I close this issue or do you need more information?

Greetings
marci4

[2017-12-11 17:17] marci4 opened #637 "1.3.7 is available!"
A lot of bug fixes :)
And some nice features like Sec-WebSocket-Protocol support and attachment.
ENJOY!

_It may take some time til it is pushed to all servers!_

[2017-12-11 17:17] #626 closed

[2017-12-11 17:18] marci4 commented on #623
Any update?

[2017-12-11 17:18] marci4 commented on #619
Hello @jasuade,

Is this question answered for you? Can I close this issue or do you need more information?

Greetings
marci4

[2017-12-11 17:18] #602 closed

[2017-12-12 07:33] marci4 commented on #559
Any update?

[2017-12-12 09:18] jasuade commented on #619
Hi @marci4,

Yes, sure, you can close this issue. I will fork your code as suggested 👍
Thank you.

regards,
Jara

[2017-12-12 11:15] #619 closed

[2017-12-13 23:10] forresthopkinsa commented on #630
Oh, no, I'm good. Sorry, I forgot to close. Thanks for the help. 👍

[2017-12-13 23:10] #630 closed

[2017-12-15 02:28] actor20170211030627 commented on #607
Hi @richdyang I also used in android.I want know what's your proguard rule?  I tried one day yesterday,but faild,Please help me.

[2017-12-15 05:02] richdyang commented on #607
@actor20170211030627 you failed what? I don't catch your idea. Is your problem related to this issue? I don't understand for what you configure the proguard. I don't configure proguard rules and I can use WebSocketServer perfectly. Only issue is described in this issue.

[2017-12-16 05:39] actor20170211030627 commented on #607
Thank You!

[2017-12-18 05:33] #637 closed

[2017-12-18 10:10] marci4 commented on #606
This issue should be solved in the latest version.

Closing issue!
Greetings
marci4

[2017-12-18 10:10] #606 closed

[2017-12-21 18:07] casolorz opened #638 "How to prevent WebsocketNotConnectedException?"
I'm using 1.3.6 on Android. For some reason I get this exception for some of my users:
[code]
Seems to happen here:

[code]

Is there a way I can prevent this from happening from my code? I'm guessing I'm sending something without checking for a connection first or something? Whatever is happening, I should be able to report to the user an error or try to recover, instead of crashing.

Thank you.

[2017-12-21 18:16] marci4 commented on #638
Hello @casolorz,

Could you maybe update to 1.3.7 and check if this issue still exists for you?

Greetings
marci4

[2017-12-21 18:23] casolorz commented on #638
Sure, it'll be a bit before I know as I've never reproduced it but I'll try it with my beta users soon. We can close this and I can reopen it if it doesn't help.

[2017-12-21 18:23] #638 closed

[2017-12-22 10:08] ebourg opened #639 "Support error codes 1012 (Service Restart), 1013 (Try Again Later) and 1014 (Bad Gateway)"
Hi,

Using Java-WebSocket 1.3.7 as a client I encountered an InvalidDataException "Trying to send an illegal close code!" when the server sends an 1013 error code (Try Again Later). Looking at the CloseFrame.java
 class it seems the error codes 1012, 1013 and 1014 are not supported yet and trigger an exception on the client side.

[2017-12-22 18:35] marci4 commented on #634
Any update ?

[2017-12-22 18:37] marci4 commented on #616
Issue should be solved, if there are more questions feel free to open it again.

Greetings
marci4

[2017-12-22 18:37] #616 closed

[2017-12-22 18:39] marci4 commented on #587
Is this still an issue with 1.3.7?

Greetings
marci4

[2017-12-22 19:31] meghneelgore commented on #587
@marci4 Apologies, I haven't been able to check this out because the workaround works ok for me.

[2017-12-22 19:31] #587 closed

[2017-12-22 22:03] jebej commented on #616
Yes, it works with the latest version, thanks.

[2017-12-23 13:01] marci4 commented on #639
Hello @ebourg,

thank you for your issue!

These close frames are not part of the official RFC and were added later.
Could you tell me which endpoints use these close codes?

Greetings
marci4

[2017-12-23 13:27] venkateshthallam commented on #634
@marci4 Hey! Sorry. Not sure what was the issue. I just had to kill the process the first time and restarted again. The socket connections are working seamlessly. Thanks for checking back.

[2017-12-23 13:27] #634 closed

[2017-12-23 23:17] ebourg commented on #639
The [Java WebSocket API 1.1](https://github.com/javaee/websocket-spec/blob/master/api/client/src/main/java/javax/websocket/CloseReason.java) has the codes 1012 and 1013 which are implemented in application servers such as Tomcat or Jetty. The code 1014 is described on the [Mozilla Developer Network](https://developer.mozilla.org/en-US/docs/Web/API/CloseEvent).

[2017-12-24 12:43] marci4 commented on #639
Hello @ebourg,

thank you very much for your feedback.

Do you think you could submit a PR for this?
Thank you!

Greetings
marci4

[2017-12-24 19:34] marci4 commented on #559
Closing this dead issue.
Not sure what was meant with this issue in the first place.

Greetings
marci4

[2017-12-24 19:34] #559 closed

[2017-12-24 20:00] #618 closed

[2017-12-28 04:43] AnandLin opened #641 "In Android, if the WebSocket sends Message too large, the Message received in the OnMessage is incomplete."
Hi,I met a problem in Android.
In Android, if the WebSocket sends Message too large, the Message received in the OnMessage is incomplete.Does java-websocket need to set the message size?

[2017-12-28 13:34] marci4 commented on #641
Hello @AnandLin,

thank you for your issue!
No, this lib does not have a specific message size apart from the Integer.MaxValue limit due to using bytebuffer.

Could you please fill out this template and provide some steps to repeat for me so I can reproduce and fix this issue!
Thank you.

Greetings
marci4

[code]

[2017-12-29 02:05] AnandLin commented on #641
Think you for your answer,But I tried to use Java-websocket 1.3.1 and 1.3.7 versions, and I found that the message received is incomplete!

My data is provided by javaWeb server. I try to get data from java-WebSocket's WebSocketImpl#socketBuffer, get the result data can be received, but subcontracted. I look at the data package processing in java-WebSocket, but it seems to be that the data is inco

[2017-12-29 09:30] marci4 commented on #641
Hello @AnandLin,

I would still like to know on which Android version this happens.

Also why are you using WebSocketImpl#socketBuffer for receiving any data and not the normal WebSocketClient#onMessage method?
Could you also provide a link to the javaWeb project, I did not find anything in my search!

Apart from this could you maybe send me your project so I can take a detailed look?

Greetings
m

[2017-12-29 14:08] MukiA opened #642 "WebsocketNotConnectedException on send method"
I'm trying to create a simple client that connects to a public echoserver based on the examples that you provided but I get the following exception

[code]
with the following code:
[code]

Am I missing something that should be in the code in order to successfully send data? Connection seems to be working but sending data through it isn't.

[2017-12-29 14:20] marci4 commented on #642
Hello @MukiA,

thank you for opening this issue!

The "problem" is the method `connect()`. This is a non blocking method, which is starting the connection/handshake etc.

If you wanna send a frame right after connecting, please use the method `connectBlocking()`.
This method blocks the thread till the connection is established (or failed).

Greetings
marci4

[2017-12-29 15:01] MukiA commented on #642
Awesome thanks for clearing that up for me.

[2017-12-29 15:01] #642 closed

[2018-01-03 00:41] mcourteaux opened #644 "Where the f*ck is there a simple "how to use"?"
For fuck sake.. Why is there no usage example in the main readme. This is a 3500+ stars project on github, without a teaser on how to use this. Bullshit that every java developer knows like how to build, which is an explanation for noobs. We fucking know how you use build systems, etc. We use them all the time. What we are here for is your library! Then freaking show us how to use this thing alrea

[2018-01-03 00:54] mcourteaux commented on #644
I made the effort to add a simple example and opened a pull request. Feel free to merge in.

[2018-01-03 06:53] lavancfc opened #646 "Android Websocket Server listener"
## Expected Behavior
I am trying to implement a basic websocket server listener on android listening on a specific port for handshakes from multiple clients by which

- The client devices should initiate a handshake everytime the android websocket server is listening.
- Connection should be open as long as the server is  listening.
-Websocket Server should store the client address (socket address

[2018-01-03 20:29] marci4 commented on #646
Hello @lavancfc,

thank you very much for opening this issue!

I think you are looking for the method `WebSocket.send(<yourMessage>);` to send a message only to the specific connection. For example  you may wanna great a user when he connected to the server.
(This replaces the use of the broadcast method).
This method may look like:
[code]

I am not sure why you need the client URI, so you may wan

[2018-01-03 20:30] #632 closed

[2018-01-03 20:30] marci4 commented on #632
Added [here](https://github.com/TooTallNate/Java-WebSocket/wiki/Attaching-data).

[2018-01-03 20:45] marci4 commented on #644
Hello @mcourteaux,

I am always open to suggestions for improvement, but these should be formulated constructively.
However, no one has anything from such statements. They create a bad climate, as well as a reduced interest on my part to put more time into this project after a long working day.

A lot of things are clear to me because I've been working with the API for months. I would be very happ

[2018-01-03 20:45] #644 closed

[2018-01-03 22:27] mcourteaux commented on #644
Ye, I had a terrible day. Frustrations were stacking up and I lost it here. 😛 Any reason why the proposed PR is not accepted?

[2018-01-04 19:50] marci4 commented on #644
Hello @mcourteaux,

there are some reasons.
The smallest issue is, that I will only merch a PR, if there is an open issue (for discussion, keeping track of issues, etc).

The bigger reason for me is, that we do have a lot of examples in the wiki and I would have to maintain this example as well (yes, I try to check every class for each release).
Also this PR was not complete in the way, that there

[2018-01-06 10:05] marci4 commented on #598
Hello @8databit,

did you have a the time to take a look at this?

Greetings
marci4

[2018-01-08 07:39] marci4 commented on #641
Hello @AnandLin,

could you provide an update for this issue?

Greetings
marci4

[2018-01-09 02:40] AnandLin commented on #641
Hello @marci4,
      I am so sorry!It's quite busy in the previous period.
      I can't provide the corresponding java-web service.When I try my text data enough, the data is incomplete and the size of the data is estimated to be around 5M. My Android version 4.4 and 5.0 will be in this situation!Do I see you and processing time, source logic is compared with a buffer size to see whether the push

[2018-01-09 05:55] marci4 commented on #641
Hello @AnandLin,

Right now I am not sure if I can help you with no information.

You do not use the provided template to provide me with debug information or steps to repeat.
You cannot provide any information for the other endpoint.
I have no idea what you are doing so I cannot help you...

Greetings
marci4

[2018-01-09 10:09] lavancfc commented on #646
hi @marci4 Thanks for your input.

I have an issue with setting a Host address for the Websocket address

**Current Behavior**
My client devices(websocket clients)  are connecting to the Websocket server by using a hardcoded websocket address such as 192.168.0.X:8888 inside the local network.

**Expected Behavior**
The client devices should be able to connect to the websocket server without using

[2018-01-09 16:53] marci4 commented on #646
Hello @lavancfc,

webSocket.begin() is no API of this project...

Of course, we do support a different URI. See https://github.com/TooTallNate/Java-WebSocket/wiki#client-example

Greetings
marci4

[2018-01-10 08:17] lavancfc commented on #646
webSocket.begin("192.168.0.12", 8877);

This is the client part which is using a different WS client API.
These client devices should be able to connect to the websocket server without using a IP+port address

[2018-01-13 09:35] marci4 commented on #256
Hey everyone,

I will try to provide a working solution for this!

Greetings
marci4

[2018-01-13 10:04] cr5315 opened #647 "Option to ignore HTTP status code/line"
## Current Behavior
The server I'm attempting to connect to (IRC) doesn't send an HTTP status code when the client connects, causing the library to immediately close the connection.

## Possible Solution
An option to have the Draft class not check for the initial HTTP status code when opening a connection.

## Context
The IRC server starts the connection by sending a line with the format `:server.

[2018-01-13 10:26] marci4 commented on #647
Hello @cr5315,

thank you very much for this issue and your interest in this project.

For me the problem is that the WebSocket-Protocol and IRC-Protocol are different in a lot of aspects.
The way how messages/frames are send is different as well as how a handshake is performed.

If you wanna connect to a IRC server with a WebSocket, you have to use a separate library like https://github.com/novnc

[2018-01-13 10:35] cr5315 commented on #647
Oh goodness, I wasn't aware that there was a difference between Socket and WebSocket 🤦‍♂️ ! Now I feel like a fool.

[2018-01-13 10:37] marci4 commented on #647
Hello @cr5315,

that is not a problem at all ;) Happens the best of us.

There are still a lot of Java IRC libs out there. :) Just do a quick search on google.

Greetings
marci4

[2018-01-13 12:16] marci4 commented on #646
Hello @lavancfc,

I see you opened a separate issue on https://github.com/Links2004/arduinoWebSockets .

Closing this issue then!

Greetings
marci4

[2018-01-13 12:16] #646 closed

[2018-01-14 11:54] LuigiCerone opened #648 "WebSocket run() cause NullPointerException"
Hi,

I'm trying to use your WebSocket Server, and I've a problem while starting it.
I get the following exception:
[code]
My code is pretty similar to the one in the [Wiki](https://github.com/TooTallNate/Java-WebSocket/wiki) but I will post it for completeness:

[code]

And the webSocket object is created in a thread with:
[code]
This exception doesn't show up every time I launch the WebSocket, bu

[2018-01-14 12:08] #648 closed

[2018-01-17 13:31] syntrydy opened #650 "Java-websocket no working an Android after setting gradle builds to version 3.0.1"
I have an android application that communicate with a backend server using websocket.
After changing the gradle build version from 2.2.3 to 3.0.1, impossible to send request.
i changed just com.android.tools.build:gradle:3.0.1

## Expected Behavior

This is the the log get from android studio.
https://paste.ubuntu.com/26404444/

## Current Behavior

## Steps to Reproduce (for bugs)

1.Sample proje

[2018-01-17 15:46] marci4 commented on #650
Hello @syntrydy,

thank you for opening this issue.

Unfortunately, I'm busy all day today and will only be able to look at it myself tomorrow.

Looking into the log file, I think that it is not related to the lib itself but to your environment (see [here](https://stackoverflow.com/questions/43922288/rejecting-re-init-on-previously-failed-class-java-lang-classnt-java-lang-nocl ) for example.
But n

[2018-01-17 15:48] marci4 commented on #623
Going to close this issue.

No additional info by the author and we changed this due to issue #247.

If this is still an issue, feel free to reopen it!
Greetings
marci4

[2018-01-18 18:46] #639 closed

[2018-01-18 18:49] #623 closed

[2018-01-18 18:52] marci4 commented on #629
Hello everyone,
I feel this is not possible right now.

To my knowledge it is not possible without breaking everything.

If anyone has a good idea, feel free to reopen/comment.

Greetings
marci4

[2018-01-18 18:52] #629 closed

[2018-01-18 18:53] marci4 commented on #392
Hello @twoi,

sorry to ping you about this issue again.

Have you, by any chance, checked if this is still an issue for you with the latest version?

Greetings
marci4

[2018-01-18 19:50] marci4 commented on #607
Hello @richdyang, hello @Tonacatecuhtli ,

I tried it with a simple android app and for me the server was killed automatically.

Could you maybe send me a small test application so I can try to understand the issue a bit more and direct you in the right way.
Sorry not an android guy, so you need to help me out here!

Greetings
marci4

[2018-01-19 10:26] Tonacatecuhtli commented on #607
Hi, so as far as I know, it's like this:
Android gives you some lifecycle methods but for example, there is no guarantee that it calls its onDestroy method.
@richdyang So what you would have to do ist start/stop the WebSocket server onPause/onResume of your App/[Activity Livecylce](https://developer.android.com/guide/components/activities/activity-lifecycle.html) so that it would be removed from t

[2018-01-20 09:24] marci4 commented on #607
Hello @Tonacatecuhtli,

thank you for these information!

So you are just looking for a service implementation and reusing a WebSocketServer?
Why not create a new WebSocketServer? Why is this not possible?

The setReuseAddr flag can be set manually. Check the [wiki](https://github.com/TooTallNate/Java-WebSocket/wiki/Enable-SO_REUSEADDR) for this!

Greetings
marci4

[2018-01-20 10:42] Tonacatecuhtli commented on #607
Hi, @marci4

thanks a lot for the wiki link ;)

I have to say that at this point I wouldn't consider it as an issue for your library anymore. It's more of my responsibility to make it work ;)

But for your questions:
Why not create a new WebSocketServer? Yes, that's what we ended up doing. But then you have to use dynamic ports and implement NSD (Network Service Discovery). At least in our case.

[2018-01-22 17:34] marci4 commented on #607
Hello @richdyang,

I will look into the possibility to allow reusing a WebSocketServer, just for you ;

I know, but I feel that many Android developer do not have the passion to implement it on their own and "expect" there to be a solution.

Apart from this, thank you very much for clearing everything up for me!

Greetings
marci4

[2018-01-22 22:16] ebourg commented on #639
Thank you for the fix!

[2018-01-23 00:10] richdyang commented on #607
Thanks all, that's caused by that Application's terminate method cannot be called when app is killed.

So it's not related to WebSocket server. It can be solved by implementing a service by developers.

Please close this issue.

[2018-01-23 04:53] #607 closed

[2018-01-23 06:10] liuww111 opened #652 "我发现一个问题"
Java-WebSocket/src/main/java/org/java_websocket/client/WebSocketClient.java
在390行，onWebsocketClose触发后执行writeThread.interrupt();导致永远不能重新使用这个对象，不能重连

[2018-01-23 06:17] liuww111 commented on #652
Java-WebSocket/src/main/java/org/java_websocket/client/WebSocketClient.java
在390行，onWebsocketClose触发后执行writeThread.interrupt();导致永远不能重新使用这个对象，不能重连。
connect()会抛出throw new IllegalStateException( "WebSocketClient objects are not reuseable" );

[2018-01-25 12:31] Salat-Cx65 opened #653 "In version 1.3.7 WebSocketServer implementation not receive onOpen(WebSocket conn, ClientHandshake handshake) event"
We have an Android project, that implements WebSocketServer.
After upgrade from 1.3.6 to 1.3.7, we faced an issue when the WS client not able to connect to our WebSocketServer implementation. After research, we found that method `onOpen(WebSocket conn, ClientHandshake handshake)` never called for new connections.

As a hotfix, we revert back to  1.3.6

[2018-01-25 12:42] marci4 commented on #653
Hello @Salat-Cx65,

could you please use [this issue template](https://raw.githubusercontent.com/TooTallNate/Java-WebSocket/master/.github/ISSUE_TEMPLATE.md) for a bug report?

I have tests in place, which should report such an issue, so this is new for me!

Greetings
marci4

[2018-01-25 21:45] #256 closed, assigned to marci4

[2018-01-26 17:28] marci4 commented on #653
Cannot reproduce in emulator using API level 26.

[2018-01-28 16:31] marci4 commented on #647
Problem solved.

Closing issue!
Greetings
marci4

[2018-01-28 16:31] #647 closed

[2018-01-28 16:31] marci4 commented on #641
Any update?

[2018-01-28 16:31] marci4 commented on #653
Any update?

[2018-01-28 16:32] marci4 commented on #650
Any update?

[2018-01-28 16:32] marci4 commented on #598
@8databit

any update?

[2018-01-28 18:04] syntrydy commented on #650
hi @marci4  i managed to fixed the issue. The issue wasn't from this library. The issue was from gradle build version 3.0.1 and our dependencies .

Thanks

[2018-01-28 21:00] marci4 commented on #490
I will start the development for this shortly.

This will only be relevant for the WebSocketClient, a WebSocketServer has a way to do this already.

Greetings
marci4

[2018-01-29 16:45] marci4 commented on #490
Will be an example/documentation only issue!

Current setup is more then sufficient.

Greetings
marci4

[2018-01-30 13:57] lavancfc opened #658 "Client crashing with WebsocketNotConnectedException"
This is My code

public class WsClientActivity extends AppCompatActivity {

    public WsClient c=null;
    public Button var_btn_connectwss;
    public EditText var_et_WSIP;
    public EditText var_et_WSPORT;

    @Override
    protected void onCreate(Bundle savedInstanceState) {
        super.onCreate(savedInstanceState);
        setContentView(R.layout.activity_wsclient);

         var_et_WSIP

[2018-01-30 15:52] marci4 commented on #658
Hello @lavancfc,

you can check with [isOpen()](https://static.javadoc.io/org.java-websocket/Java-WebSocket/1.3.7/org/java_websocket/client/WebSocketClient.html#isOpen--) if the connection is established.

Greetings
marci4

[2018-01-31 06:18] lavancfc commented on #658
Thank you @marci4 .
Issue Resolved.
Please close

[2018-01-31 06:18] #658 closed

[2018-02-01 19:28] marci4 commented on #490
Reopen issue to allow custom headers for the server as well!

[2018-02-01 19:45] #490 closed

[2018-02-05 09:57] bcersows opened #661 "NPE when address already in use"
## Expected Behavior
When the port to used is already blocked, shut down the websocket again, eventually notifying the caller that it failed as well.

## Current Behavior
A NullPointerException in the `stop()` method is thrown when the server-side binding failed because the address/socket is used already.

## Possible Solution
Add a non-null check before calling `selector.wakeup();`.

## Steps to

[2018-02-05 10:42] bcersows commented on #185
If both the server and the client are in the dev's hand, the easiest would be to send some kind of ACK once the whole data was received (and parsed).
As for the callback, maybe call it once in the `WebsocketWriteThread` the `outQueue.isEmpty()` again after some data were queued for sending? For the use cases mentioned in this issue, this should be enough.

[2018-02-05 16:35] #661 closed

[2018-02-05 16:35] marci4 commented on #661
Hello @bcersows,

thank you for your bug report.

Fixed this issue with #662.

Greetings
marci4

[2018-02-06 16:20] marci4 commented on #185
Hello @bcersows,

thank you very much for your input.

Well I am not sure if that would be enough for the use case.
There are some reasons for this:
- Another frame could be added to the `outQueue` while still writing the huge frame
- An empty `outQueue` does not ensure that the other endpoint already received the frame or the frame is flushed for sure.

Of course we can just add a callback for al

[2018-02-07 13:45] molaith opened #663 "onclose with code=1006 and no reason"
## Expected Behavior

	onClose whith code 1006 should not happened frequently.
	or tell me the reason about current closure.

## Current Behavior
	1、create a websocket connection.
	2、repeated calls the method send().
	3、received OnError:javax.net.ssl.SSLException: Write error: ssl=0xdca46f00: I/O error during system call, Broken pipe
	4、received onClose:code=1006;reason="";remote=true

## Possible

[2018-02-07 18:07] marci4 commented on #663
Hello @molaith,

please use [this issue template](https://raw.githubusercontent.com/TooTallNate/Java-WebSocket/master/.github/ISSUE_TEMPLATE.md) to help me understand the issue at hand.

This is the definition for close code 1006.
`1006 is a reserved value and MUST NOT be set as a status code in a Close control frame by an endpoint. It is designated for use in applications expecting a status code

[2018-02-09 09:55] Sdghasemi opened #664 "Getting OutOfMemoryError: pthread_create on Android 4, 6, 7"
First of all thanks for the great library.
As I mentioned I'm getting below error on all Android APIs I'm using except 21 and 22 (Android 5):
[code]
Also there are about 620 identical threads with below stack along with the crash on Crashlytics:
[code]
I was hoping if someone can help me with the issue, thanks in advance.

[2018-02-09 17:02] marci4 commented on #663
Hello @molaith,

thank you for the updated issue!

I was not able to install your example apk in my emulator...
Never the less the exception you are describing is the cause for the disconnect and the resulting close with closecode 1006.

After a quick search on google, it is most likely related to the websocket server you are connecting to.

Could you give me a bit more insight on what you are usi

[2018-02-09 17:05] marci4 commented on #664
Hello @Sdghasemi,

please use [this issue template](https://raw.githubusercontent.com/TooTallNate/Java-WebSocket/master/.github/ISSUE_TEMPLATE.md) to help me understand the issue at hand.

Are you using wss?

Could this be related to #424 ?

Greetings
marci4

[2018-02-11 15:52] oakkitten commented on #347
just writing to confirm that has been resolved. thanks for the awesome work, you rock!

[2018-02-11 15:53] oakkitten commented on #346
just writing to confirm that this has been resolved

[2018-02-11 16:01] marci4 commented on #347
Thank you for your feedback @oakkitten.

Happy to hear that this is solved!

[2018-02-12 19:22] cstratton opened #665 "Data read with end of SSL handshake is discarded"
## Description

Essentially, the bug is that

CONCLUDE SSL HANDSHAKE
PLEASE CAN WE DO WEBSOCKETS

works, while

CONCLUDE SSL HANDSHAKE PLEASE CAN WE DO WEBSOCKETS

does not

## Expected Behavior

Data following the conclusion of the SSL handshake should be processed, regardless of how quickly it follows the handshake.

Websockets operating over SSL are ultimately using TCP, which is a streaming pr

[2018-02-12 21:15] marci4 commented on #665
Hello @cstratton,

thank you very much for this detailed bug report.

The issue you are describing is new to me, but I am more than welcome to take a look a this.

As it sounds, you have a patch for this issue ready. Could you also add it to this issue? Or is it just reverting #190?
Is it also possible to reproduce this issue in another way, e.g. in a desktop only environment?

Does this also occu

[2018-02-13 13:31] lavancfc commented on #646
I am trying to:
1. Add the clients to an Array list inside onOpen
2. Display it on a listview
3.On user click on the list view send message to that particular client.

The below code does the job.

`@Override
        public void onOpen(WebSocket conn, ClientHandshake handshake ) {

            // conn.setAttachment(index++); //Set the attachment to the current index
            // index++;

[2018-02-14 07:16] cjgriscom opened #666 "Give the main WebSocketClient thread and AbstractWebSocket Timer a name"
Only the read thread is assigned a name in a `WebSocketClient` instance. The main `Runnable` acquires a default name like "Thread-7". I'm working on an application where I need to identify threads and manage them, and it would be nice to be able to distinguish them purely by name instead of inspecting their stack trace.

According to `oakkitten` who it pointed out in [this thread](https://github.c

[2018-02-14 11:00] lavancfc commented on #646
Sorted out using this

`        @Override
        public void onOpen(WebSocket conn, ClientHandshake handshake ) {

            conn.setAttachment( index); //Set the attachment to the current index
            index++;
            seriallist.add(index);
            iplist.add(getRemoteSocketAddress(conn));
            wsobjectlist.add(conn);
            System.out.println(seriallist);

[2018-02-14 15:58] Sdghasemi commented on #664
I've read the issue template, I'll provide you as much as info I can so we can spot where the problem is coming from.
The problem is obvious as you know. There's a function somewhere which creates new threads without using them.
Because the web socket instances are not reusable, I managed to create a retry procedure aside from the library which will retry to connect after timer timed out (delays w

[2018-02-14 20:00] marci4 commented on #664
Hello @Sdghasemi,

you should not read it but use it instead!
This helps me to understand the environment and everything I need to reproduce this issue.

For example when you started this issue, you did not mention that you are somehow reconnecting the websocket, Without such information I would just have closed this issue with "cannot-reproduce".

For me it is not clear what you are doing so such

[2018-02-14 20:01] #653 closed

[2018-02-14 20:09] marci4 commented on #666
Some threads are not named, e.g. the `Timer` in `AbstractWebSocket`

## Expected Behavior

All threads, server and client, should have a non default name.

## Current Behavior

Some threads, e.g. the timer, still have their default name.

## Possible Solution

Set thread names!

## Steps to Reproduce (for bugs)

1. Start Server/Client
2. Check for the thread names in the debugger

## Context

Info

[2018-02-14 20:52] marci4 commented on #666
Thank you very much for creating this issue @cjgriscom.

Should be solved with #667.

Greetings
marci4

[2018-02-14 23:18] cstratton commented on #665
Hi marci4, thanks for taking a look at this.

What we tried this against, https://github.com/TooTallNate/Java-WebSocket/commit/105e2e0 is actually newer than 1.3.7, for some reason that is unclear git-describe counted it from an earlier tag making it look older than it is, anyway I think the range of applicability is very wide.

What we did to verify this was the problem was essentially to not rew

[2018-02-16 09:54] Sdghasemi commented on #664
Since this I'm using web socket as a part of a huge codebase, I'm afraid I can not make a simple sample representing the problem to reproduce (I myself couldn't reproduce it either, but there are a number of crashes tell me this is happening). I'm trying to find out where this crashes might get produced, or maybe there is no way the library could cause it!
Knowing that I use the issue template as

[2018-02-16 12:54] marci4 commented on #665
Hello @cstratton,

Yeah I got confused with the tag there!

Well I fear that I have to rewrite the whole SSLSocketChannel to have a more maintainable solution here, since using your fix causes other problems e.g. with firefox.

I will however be on holidays till next friday so I will not be able to do this in the next week!

If I have a somehow working solution, can I get back to you and let you t

[2018-02-16 16:18] cstratton commented on #665
Thanks.  While I didn't think the simple approaching of not rewinding the buffer would be safe or effective without additional wrapping logic to figure out when and how it should apply (or when other means might be needed, for example to copy contents form a buffer being replaced), I'd be curious as to how it is failing with firefox.

[2018-02-16 17:32] marci4 commented on #664
Hello @Sdghasemi,

thank you again for the details especially for the link.

Am I understanding the site correctly that there are 476 threads running?
(Latest Session: Fatal Exception ... below that there is a button for me with "Show all 475 threads")

Going through this list it looks like you are spawning a lot of pool-threads.
Maybe you can reduce the number there?
I recently added some names f

[2018-02-22 12:52] yuksels commented on #256
Release 1.3.8  ?

[2018-02-22 17:38] vsch opened #668 "When a server fails to start it does not cleanup its WebSocketWorker threads"
When server start fails because address is already in use, it calls stop which causes a null pointer  exception because `selector` is not yet initialized.

This exception causes the server not to interrupt its web socket workers.

## Expected Behavior

cleanup web workers if server start fails

## Current Behavior

Leaves the workers running

## Possible Solution

In WebSocket server stop(int) met

[2018-02-23 07:36] molaith commented on #663
hi，@marci4 ,
 i disabled SSL authentication in websocket server.
then，there is no SSLException. but it still disconnect with 1006.

there is the log below:
[onclose_1006.txt](https://github.com/TooTallNate/Java-WebSocket/files/1750776/onclose_1006.txt)

[2018-02-23 13:44] oakkitten commented on #663
on android, the problem might be with the ping/pong mechanism of the library. android will freeze the application while it's idle, waking it up only from time to time. therefore you can't rely on `Timer`s to ping/pong, and `Timer` is what this library is using by default. you can do `setConnectionLostTimeout(0)` and implement your own pinging mechanism using `AlarmManager`

run the library in debu

[2018-02-24 08:57] marci4 commented on #668
Hello @vsch,

thank you for your bug report.

I think this issue should already be solved on the master due to #661.

Could you please confirm this?

Greetings
marci4

[2018-02-24 09:02] marci4 commented on #663
Hello @oakkitten and @molaith ,

@molaith
Please tell me more on what you are using as your websocket server you are connecting to!
Apart from this, you should also try the recommended setting by @oakkitten.
This may be a problem since the other endpoint does not correctly implement the specification!

@oakkitten
well it depends on how you use the library. If you use it in a service, it should sti

[2018-02-24 09:04] marci4 opened #669 "Include information in the onClose call for the connection lost detection"
## Expected Behavior

Include a link and some information in the onClose call to help user understand the reason for the dc by the connection lost detection

## Current Behavior

Right now it may not clear why you get the dc.

## Possible Solution

Include information and reference to wiki link

## Context

Improve documentation

## Your Environment

* Version used: 1.3.7
* Java version: -
* Opera

[2018-02-24 09:36] marci4 commented on #665
Well the problem is that for me the SSLSocketChannel is just a mess. The author is not active any more and it has some known issues.
That is the main reason why I wanna rewrite it...

[2018-02-24 11:49] vsch commented on #668
@marci4, yes this is exactly the same issue.

[2018-02-24 11:49] #668 closed

[2018-02-25 03:54] oakkitten commented on #663
@marci4 according to this [code](https://github.com/TooTallNate/Java-WebSocket/blob/02607c29d316df0fd5f43b64d3a1e5c4a26f1c80/src/main/java/org/java_websocket/AbstractWebSocket.java#L147), a timer that runs every 60 seconds will check for a pong event that is not older than 90 seconds. now if the threads are frozen for more than 30 seconds, the time between two calls can be more than 90 seconds acc

[2018-02-25 04:28] oakkitten opened #670 "Use a logging framework such as as SLF4J instead of System.out.println"
## Expected Behavior
the library logs stuff using SLF4J and the application controls the actual output. this will allow logging stuff like logger and thread names, etc. the library uses different log levels (trace, debug, error) for different things and it's easy to filter them out, if needed. as the output is controlled by the application, no stuff like `if (WebSocketImpl.DEBUG)` is needed.

also

[2018-02-25 20:52] marci4 commented on #663
Hello @oakkitten,

I do see the problem and I think just implementing the WebSocketClient as a service should solve it.
When I got more time on my hands I wanna implement a service on my own to prove this and give the Android users a few tips on how to do it the right way.

Apart from this I opened a separate issue to include some more information in the onClose call to help users understand the i

[2018-02-25 21:01] marci4 commented on #670
Hello @oakkitten,

thank you very much for this improvement!

Do you think it is possible make this somehow happen without f**king everyone up right now, especially users who do not use a build system like maven or gradle?
Or do I have to provide a separate download then?

I have no knowledge on how to write such a rule so could you maybe help me do this?
Thank you!

Greetings
marci4

[2018-02-27 11:40] #669 closed

[2018-02-27 12:03] gjsbe opened #672 "android ssl via proxy"
Hi,
I would like to know if it's possibile to use api to connect using ssl and behind a proxy.
Also If there's an option to pass proxy username and password.
Thank you very much

[2018-02-27 12:38] marci4 commented on #672
Hello @gjsbe,

maybe this helps you.
https://github.com/TooTallNate/Java-WebSocket/wiki/Using-the-WebSocket-through-a-http-proxy

Greetings
marci4

[2018-02-27 14:11] gjsbe commented on #672
Hi,
thank you very much, but there's another problem: if I have a proxy pac url how can I use it?

[2018-02-27 15:09] gjsbe commented on #672
Sorry... I found a solution but I have a big problem... It don't work:
`          SSLContext sslContext = SSLContext.getDefault();
                SSLSocketFactory sslFactory = sslContext.getSocketFactory();

                List<Proxy> proxies = ProxySelector.getDefault().select(new URI("wss://server.it:3333"));
                Proxy proxy;

                if(!proxies.isEmpty()) {

[2018-02-28 04:43] xmulxs opened #673 "websocket server not response"
websocket server not response ,details describe in Steps to Reproduce, Any suggestions are welcome!

## Expected Behavior

## Current Behavior

## Possible Solution

## Steps to Reproduce (for bugs)

1.
  I define a class  named websocketServer extended from WebSocketServer.
in websocketServer I overide onOpen method as belows:
   @Override
    public void onOpen(WebSocket conn, ClientHandshake cl

[2018-02-28 07:34] marci4 commented on #673
Hello @xmulxs,

Please use the latest version 1.3.7!

Greetings
marci4

[2018-02-28 08:01] molaith commented on #663
hi, @oakkitten,@marci4,
Thanks!
I implement pinging mechanism, and problem solved.

[2018-02-28 10:34] marci4 commented on #663
Problem solved. Closing issue!

[2018-02-28 10:34] #663 closed

[2018-03-01 10:35] gjsbe commented on #672
Hi, the problem is that from latest android sdk version you cannot set http proxy for a Socket.
You need SOCKS Proxy, but for the ws we need http proxy connection.
So I writed my own proxy connection method (native).
Thank you anyway.

[2018-03-01 12:25] marci4 commented on #672
Hello @gjsbe,

Do you think you can share your solution to help other developers in the future?
Thank you!

Greetings
marci4

[2018-03-01 15:47] Sdghasemi commented on #664
Hello @marci4,
After days of struggle in project and dependent libraries since you mentioned your pattern for thread names I happily managed to find where the pool threads were coming from.
It was from a separate advertising library called [Adad](https://adad.ir/home/) which has an awful code structure in showing and downloading ads. Using the older version fixed the problem.
Thank you very much f

[2018-03-01 15:49] #664 closed

[2018-03-02 02:55] xmulxs commented on #673
Hi,marci4,
    I test the issue with 1.3.7, and all is ok. but I  find a function named getMacFromIp may blocks callback onOpen as below:
@Override
    public void onOpen(WebSocket conn, ClientHandshake clientHandshake) {
       sleep(4100);// 4.1seconds
       getMacFromIp(szIp);
        conn.close();
}
  When testing with 1.3.7,I make function getmacFromIp in "Not block". So The testing may not

[2018-03-02 03:11] xmulxs commented on #673
Hi,marci4,I think I find the problem, The  reason is " onOpen callback block for a long time cause the connection failure". When I sleep for 100 seconds in onOpen the next client indeed can't connect to server.

[2018-03-02 08:04] gjsbe commented on #672
Sure:
`socket.connect(new InetSocketAddress(proxy.getHost(), proxy.getPort()));
socket.setKeepAlive(true);
socket.setTcpNoDelay(true);
socket.setReceiveBufferSize(8192);

String msg = "CONNECT " + dest.getHost() + ":" + dest.getPort() + " HTTP/1.0\r\n";

msg += "User-Agent: ProtoPro/2.0\r\n" +
                "Keep-Alive: 300\r\n" +
                "Proxy-Connection: keep-alive\r\n\r\n";

byte[] o

[2018-03-02 09:28] b3601993 opened #674 "extends WebSocketServer VS Annotation"
extends WebSocketServer VS Annotation ？

This is my understanding: Annotation, it is not necessary to have a container, eg: tomcat, But extends WebSocketServer can not use tomcat。

Forgive me for being a rookie, in websocket, use Annotation Can not use container?

[2018-03-04 18:27] marci4 commented on #672
It is a starting point for many! :)
Thank you!

Issue solved. Closing it!

Greetings
marci4

[2018-03-04 18:27] #672 closed

[2018-03-04 18:34] marci4 commented on #674
Hello @b3601993,

to my knowledge it is possible to use this library in a tomcat environment.
Some users reported that at least.

Greetings
marci4

[2018-03-05 00:50] WalkerKnapp commented on #670
Hi @marci4,
I'm not the original one to post the issue, but I think the best way to go about addressing the first issue would be to distribute a "Fat Jar" for those who don't use a build system and to have a fallback logger with System.out if they don't provide a slf4j compliant library. Are there any issues with a system like this?

I really hope this issue is implemented eventually as it is a re

[2018-03-05 06:50] liuliuabc commented on #648
mee too.Have you solved this problem?

[2018-03-05 16:17] marci4 commented on #670
Hello @WalkerKnapp,

I quess I have to do it this way and maintain 2 versions.
One maven version and one standalone version.
Will only do this to the next major release 1.4.

Greetings
marci4

[2018-03-05 17:10] marci4 commented on #641
Dead issue!

Closing it!
If there is new feedback, feel free to reopen it!

Greetings
marci4

[2018-03-05 17:10] #641 closed

[2018-03-05 17:58] #666 closed

[2018-03-05 21:31] kimtuitoek opened #677 "On closing a connection, Websocket is stuck in READYSTATE.CLOSING"
When trying to check for whether `READYSTATE.CLOSED` is set by running `WebSocketImpl.isClosed()`. `READYSTATE` is always set to `CLOSING` after initiating a close/closeConnection.

## Expected Behavior

 `READYSTATE` should be set to `CLOSED` regardless of whether the close was normal or abnormal.

## Current Behavior

Whenever I query `WebSocketImpl.isClosed()`, I get false since `READYSTATE` is

[2018-03-06 13:14] rjbergTU commented on #485
I am not surprised a HashMap per connection is bad, since a HashMap needs a lot of memory. (One reason I do not like them, except in cases where the number and total size of the Map can be predetermined.) But amap of any kind(like a TreeMap) would be overkill anyway. Your current solution is a lot more flexible.

In short, thank you.

[2018-03-06 17:59] marci4 commented on #670
Hello everyone,
You can see the current development status for this in [this](https://github.com/marci4/Java-WebSocket-Dev/tree/slf4j) branch (https://github.com/marci4/Java-WebSocket-Dev/tree/slf4j).

Would like to get some feedback on this please!

Greetings
marci4

[2018-03-06 18:18] marci4 commented on #677
Hello @kimtuitoek,

thank you for your issue report!

Even though I am pretty sure that this was also the same on 1.3.7, could you maybe update to 1.3.8?
Because I cannot reproduce your issue on the current master branch (so 1.3.8).

Let me clear some things up for you:
* This behaviour is the expected behaviour
** Calling close() on a WebSocketClient will initiate the closing handshake. `The clos

[2018-03-07 00:16] kimtuitoek commented on #677
Thanks. I haven't tried out the new methods but those re-connection methods should solve my problem of trying for reconnection. That was what I was trying to do.

From the way you explained it, let's say the closing handshake is initiated by the WebSocketClient and the client is waiting for the server to respond with a CloseFrame, if the server goes down unexpectedly in the middle of the handshake

[2018-03-07 04:41] xmulxs commented on #673
version 1.3.7 has the same problem, if sleep 200 seconds in onOpen， the next client 100% probability can not connect .

[2018-03-07 17:20] marci4 commented on #677
Hello @kimtuitoek,

yeah that has do be detected by the underlying socket system. We also have a heartbeat feature for this on a lib level.
Both ways trigger the transition from closing to close in this case!

Greetings
marci4

[2018-03-07 19:42] a-ross-cohen commented on #665
Hey @marci4 I seem to be running into the same issue as @cstratton. Is there any update on a timeline to a 'correct' fix for this?

[2018-03-07 19:54] WalkerKnapp commented on #670
Looks great in my opinion. Although, there were still some printlns dotted around, so I commented on those in the commit. Other than that, looks perfect and I hope to see it in the next major release.

[2018-03-07 20:09] marci4 commented on #665
Hello @a-ross-cohen,

well I do not have the time for such a big project right now! Being busy with my master thesis and my full time job.

In simple words, we "just" need a class that implements a ByteChannel interface over a TLS connection using a SSLEngine.

Any help is much appreciated!

Greetins
marci4

[2018-03-09 10:21] haizhiyun opened #678 "java_websocket.drafts.Draft_10$IncompleteException"
android: When the amount of data is large, an exception occurs.
java_websocket.drafts.Draft_10$IncompleteException

[2018-03-09 10:37] haizhiyun commented on #678
The latest version solved this problem.

[2018-03-09 10:38] #678 closed

[2018-03-12 00:42] bluekey630 opened #679 "Connect error"
I got exception like as "SSL handshake aborted: ssl=0x7829ac28: I/O error during system call, Connection reset by peer". So app can not connect to wss server.
I using "org.java-websocket:Java-WebSocket:1.3.8" and tested Sumsung device.
Please let me know the way to solve this issue

[2018-03-12 18:39] marci4 commented on #679
Hello @bluekey630,

Please use the `Bug Report` template provided at https://raw.githubusercontent.com/TooTallNate/Java-WebSocket/master/.github/ISSUE_TEMPLATE.md.

Without a full bug report this will be closed.

Greetings
marci4

[2018-03-12 18:39] marci4 commented on #674
Dead issue.

Closing!
Greetings
marci4

[2018-03-12 18:39] #674 closed

[2018-03-12 18:40] marci4 commented on #673
Is there any reason why you wanna sleep the connection?
Maybe use a separate timer for this?

Greetings
marci4

[2018-03-12 21:01] marci4 commented on #517
Hello everyone,

I am currently working on new implementation for the WebSocketServer to improve this behaviour.
Current development status can be found [here](https://github.com/marci4/Java-WebSocket-Dev/tree/threadpool).

Greetings
marci4

[2018-03-15 12:15] #673 closed

[2018-03-15 12:18] xmulxs commented on #673
Hi,maric4 Thank you for your answer， Now I just new a thread in onOpen function  for doing blocking things  instead of  directly sleeping in onOpen that may block onOpen.

[2018-03-18 17:15] marci4 commented on #679
Dead issue.

Closing it!

Greetings
marci4

[2018-03-18 17:15] #679 closed

[2018-03-18 17:22] marci4 commented on #677
Any update?

[2018-03-18 18:20] Patel32515 opened #680 "Defining Port Configuration to be used by websocket"
I am trying to start a websocket server within my already running web application on Tomcat7.
Application is running on port 8080 which is defined through  tomcat connector settings where as websocket is defined over 8088 port. (which is defined using constructor).

Problem:
How can I control max number of connection to the websocket? in tomcat server.xml, there is connector configuration for 8080

[2018-03-20 08:44] esrrhs opened #681 "READYSTATE.CONNECTING not use"
READYSTATE.CONNECTING did not use? I found no place set it

[2018-03-20 16:52] marci4 commented on #680
Hello @Patel32515,

right now the lib does not directly have a connection limit.
You can however use the method `onWebsocketHandshakeReceivedAsServer()`, check for the limit and throw an InvalidDataException() if to many connections were made.

Check out [this](https://github.com/TooTallNate/Java-WebSocket/wiki/Rejecting-a-handshake) wiki article for more information.

Greetings
marci4

[2018-03-20 17:12] marci4 commented on #681
Hello @esrrhs,

looks like that this isnt used since 2013....
Going to deprecate this.

Thanks for your hint!

Greetings
marci4

[2018-03-20 17:45] #681 closed

[2018-03-20 21:55] Patel32515 commented on #680
Hello @marci4 ,
Thanks for the suggestion, yes this could help.
Wondering if there is any option to make port configurable in server.xml as Connector port?

Thanks,
Priyank

[2018-03-21 18:58] marci4 commented on #680
Hello Priyank,

due to the reason that this lib does not require tomcat, we do not evaluate the server.xml.
To set the port, you have to call the WebSocketServer with a different constructor.

Greetings
marci4

[2018-03-21 21:33] Patel32515 commented on #680
No problem, will adapt my implementation accordingly, Thanks for the response..

[2018-03-21 21:33] #680 closed

[2018-03-23 20:08] #677 closed

[2018-03-24 05:42] SereiaMaster opened #684 "How reconnect"
How to reconnect if ws crashes?

[2018-03-25 19:06] marci4 commented on #684
How about you check out the java doc and find the method for yourself?
https://static.javadoc.io/org.java-websocket/Java-WebSocket/1.3.8/org/java_websocket/client/WebSocketClient.html

[2018-03-25 19:06] #684 closed

[2018-03-25 20:17] AoEiuV020 commented on #546
@marci4 there is a header key is "X-Real-IP", how to get it ?

[2018-03-26 17:40] marci4 commented on #546
@AoEiuV020, please check out the [FAQ](https://github.com/TooTallNate/Java-WebSocket/wiki/Frequently-asked-questions#how-can-i-get-a-specific-header-in-my-websocketclient)!

[2018-03-27 14:33] xcelder opened #685 "Exclude default port from wss host"
I'm working with a server balanced by a proxy that redirect my request to the targeted server depends on the URL I requested.

One of these servers has a secure Websocket (I mean wss) and it works on the default port (443).

In your client (class WebSocketClient.java) you avoid to include the port in the host by: `port != WebSocket.DEFAULT_PORT ? ":" + port : ""`, but this works only for ws defaul

[2018-03-28 14:22] baruchn opened #686 "java.lang.NoClassDefFoundError when changing from 'compile' to 'api' gradle configuration"
Changing `compile 'org.java-websocket:Java-WebSocket:1.3.8'` to `api 'org.java-websocket:Java-WebSocket:1.3.8'` causes applications using my library to crush with `java.lang.NoClassDefFoundError` when trying to instantiate the class which extends `WebSocketClient`.

As of Gradle 3.0 `compile` configuration is deprecated and I can't keep using it. According to the [documentation](https://docs.gradl

[2018-03-29 02:06] lifubang opened #687 "CPU High Usage"
My WebSocket Server is crashed.
[code]
[code]
[code]

[2018-03-30 02:49] ykbjson opened #688 "onMessage method perform time-consuming operations"
In the onMessage method, if a blocking operation is performed, all subsequent requests will not enter the onMessage method. Do I have to reopen threads in the onMessage method to perform time-consuming operations?

` @Override
    public void onMessage(WebSocket webSocket, String message) {
        parseMessage(webSocket, message);
        System.out.println(webSocket + " : " + message);
    }

[2018-03-30 09:40] marci4 commented on #687
Hello @lifubang,

Please use the `Bug Report` template provided at https://raw.githubusercontent.com/TooTallNate/Java-WebSocket/master/.github/ISSUE_TEMPLATE.md.

Without a full bug report this will be closed.

Greetings
marci4

[2018-03-30 09:43] marci4 commented on #685
Hello @xcelder,

thanks for opening this issue!

Is this proxy available for testing?

Greetings
marci4

[2018-03-30 10:10] xcelder commented on #685
Unfortunately not, is a private server in the company
I work on, but we've check the logs and the problem was that. Sorry if I cannot provide more clues... :(

[2018-03-30 10:13] marci4 commented on #685
Hello @xcelder,

thanks for the feedback.
No worries, I just like to check and make sure the changes really fix the issue ;)

Anyway, after you fix the typo I found in your PR, I am really happy to merch it!

Greetings
marci4

[2018-03-30 10:15] marci4 commented on #686
Hello @baruchn,

thank you for opening this issue and inform me about the changes for gradle.

I think the problem is, that this library was never designed to separate between `API `and `implementation `and therefore I expected that the lib just wokrs with `implementation`.

Anyway I will take a look into this and maybe work out a better solution!

Greetings
marci4

[2018-03-30 10:40] marci4 commented on #688
Hello @ykbjson,

that is intentional to make sure that you don't  have to manually synchronize messages.

If you however know that you have a non critical long running task to do, it is always the best to use an executor for such tasks!

Greetings
marci4

[2018-03-30 11:55] xcelder commented on #685
I fixed the typo, sorry I wrote it in the github editor and I didn't saw it.

[2018-03-30 11:58] marci4 commented on #685
No problem!

Thank you a lot for your changes!

Greetings
marci4

[2018-03-30 11:58] #685 closed

[2018-03-30 11:59] xcelder commented on #685
thank you for answering so fast! 👍

[2018-04-02 13:32] Animaleante opened #689 "IllegalArgumentException"
I'm using the lib with a SSL cert, and it works nicely, but at least once a week I'm getting this error, and the whole WS Server crashes.

## Expected Behavior
No errors given, specially an error that crashes the whole server.

## Current Behavior
Don't know if this happens on a new connection, or on a message that the server receives.
But when it does, no other connection can be made, and current

[2018-04-02 15:46] marci4 commented on #689
Hello @Animaleante,

could you please update to the latest version 1.3.8 and see if this solves the issue?

Greetings
marci4

[2018-04-02 15:50] Animaleante commented on #689
Hey there @marci4
Will try that now, had not seen that a new version was released. Gonna test it for the rest of the week, and update you here if anything comes up. Thanks!

[2018-04-03 09:32] lifubang commented on #687
Sorry, I use a nodejs ws library now.

[2018-04-03 09:32] #687 closed

[2018-04-04 09:32] a13707331174 opened #690 "how to listen client has disconnected and reconnect automically"
I want the client reconnect when the connection is closed due to remote reason,
i call reconnectBlocking() in onClose(), but reconnectBlocking dose not work,
so how i reconnect when the connection is closed? thx

[2018-04-04 13:10] Animaleante commented on #689
The error happened yesterday again, and I'm using the latest version now. Any ideas on how to better debug this?

[2018-04-04 15:25] marci4 commented on #689
Hello @Animaleante,

could you maybe enable the debug printouts with `WebSocketImpl.Debug = true;` and then post the log here?

Greetings
marci4

[2018-04-04 15:32] Animaleante commented on #689
All right @marci4, I will turn it on and will update here if it happens again and post the log. Thank you

[2018-04-04 16:43] marci4 commented on #690
Hello @a13707331174,

reconnect was never designed to use directly in the WebSocket-Thread!

To achieve what you are trying to do, just start a separate thread which then calls reconnect!

Greetings
marci4

[2018-04-04 18:12] marci4 opened #691 "Looking for new contributers"
Hey everyone,
Right now I am looking for additional support more than ever.
Going through a stressful time IRL right now and therefore don't have the energy to maintain this project fully!
If anyone is up for a challenge, learn new things and want's to be part of this project, feel free to post here or contact me directly.

Thank you in advance!

Best regards,
Marci4

[2018-04-04 19:42] Animaleante commented on #689
This is 250 lines of log right before the moment that the error happened. It seems to happen always after there's a huge amount of clientes connecting and disconnecting rapidly (After around 9000 connections since the server started).

INFO server comment - CHTWSServer::onOpen >> instanceName: null, userId: -1, remoteSocketAddress: /190.123.207.20:20783, userAgent: Mozilla/5.0 (Windows NT 10.0; Wi

[2018-04-04 19:43] Animaleante commented on #689
Seems like I hit a limit there

afterEnconding(33): {{"action":"mobileVideoRequested"}}
write(35): {�!{"action":"mobileVideoRequested"}}
process(21): {��w��������������}
afterDecoding(15): {heartbeatResult}
matched frame: Framedata{ optcode:TEXT, fin:true, rsv1:false, rsv2:false, rsv3:false, payloadlength:[pos:0, len:15], payload:heartbeatResult}
process(21): {���#qK�F9�A*�q8�O}
afterDecod

[2018-04-04 21:01] Animaleante commented on #689
I noticed this only happens after several clients have been disconnected when trying to enter a non-existent room.

Inside onOpen, I check to see if the room they are trying to connect to is open, if not, I call
`socket.closeConnection(CloseFrame.REFUSE, "Some message");`

Could this be causing the problem? Should I close the socket connection after the onOpen method has finished properly?

[2018-04-06 15:19] marci4 commented on #689
Hello @Animaleante,

thank you for the log!

Here are some things you may wanna change:
* Use a ping/pong frame instead of a custom text frame for the heartbeat. This should reduce the load for both client and server (since the payload of the frame does not have to be validated by each endpoint). For more on this, check out the [wiki](https://github.com/TooTallNate/Java-WebSocket/wiki/Framing#ping

[2018-04-09 19:10] Animaleante commented on #689
Hey @marci4, thanks for the answer, and sorry for the delay.

Thank you for the tipo on using the PingFrame, I have implemented it. And changed from the closeConnection method to the close method, and will test it this afternoon, and will update this issue with the results, thank you!

[2018-04-11 07:15] Nirupg63 commented on #691
@marci4 Hey. I'm willing to help. Get in touch with me anytime.

[2018-04-11 16:26] shufps commented on #690
In my project I used an extra Thread which acts as watchdog (e.g. connection alive but $x seconds no new data) and to reconnect if the socket is disconnected. It works great so far.

[2018-04-11 20:16] Animaleante commented on #689
Just to update you @marci4

The modifications worked, and the server no longer crashes. Thank you very much!

[2018-04-11 20:16] #689 closed

[2018-04-12 02:01] a13707331174 commented on #690
@shufps,@marci4,thanks for your help

[2018-04-12 16:34] marci4 commented on #690
@a13707331174 is this issue solved for you know ?

[2018-04-13 09:52] DarkSherlock opened #692 "Why open() called twice on android"
## Debug log (for bugs)
04-13 17:44:00.417 20147-20147/com.aikaola.www.doublestudents D/SocketClient: connectToServer: try to connectToServer :ws://47.96.31.242:7100
04-13 17:44:00.475 20147-20847/com.aikaola.www.doublestudents D/SocketClient: onOpen: ws://47.96.31.242:7100
04-13 17:44:00.476 20147-20848/com.aikaola.www.doublestudents D/SocketClient: onOpen: ws://47.96.31.242:7100

* version: jdk

[2018-04-13 15:22] MatthiasKuk opened #693 "Exception in thread "main" org.java_websocket.exceptions.WebsocketNotConnectedException"
## Expected Behavior
Connect to the server, send the message, close the connection

## Current Behavior
It seems like the client tries to send the message before connecting to the server. I get the following:
[code]

As well as a **follow up(!)** answer by the server, which I configured on my backend(node.js).

For some reason, if I use a modified version of the method `send()`, for example `sendJ

[2018-04-14 08:02] marci4 commented on #692
Hello @DarkSherlock

Please use the `Bug Report` template provided at https://raw.githubusercontent.com/TooTallNate/Java-WebSocket/master/.github/ISSUE_TEMPLATE.md.

Without a full bug report this will be closed.

Greetings
marci4

[2018-04-14 08:05] marci4 commented on #693
Hello @MatthiasKuk,

for your first question please check out the FAQ in the wiki!

For the follow up question, I quess that this just takes longer to process the json or is async and therefore the connection is already established!

Best regards,

marci4

[2018-04-14 08:10] marci4 commented on #691
Hello @Nirupg63,
thank you for your offer!

I sent you an email, hope you got that one!

Best regards,
marci4

[2018-04-14 15:37] PhilipRoman opened #694 "AssertionError at WebSocketImpl.isOpen"
## Expected Behavior
WebSocketImpl.isOpen() returns true if the socket is open and false otherwise.

## Current Behavior
Calling isOpen() on a websocket causes and AssertionError. Here is the assertion causing it:
`assert ( getReadyState() != READYSTATE.OPEN || !flushandclosestate )`
It is not entirely clear why such a method would ever throw an exception. There are 2 possible stacktraces which ap

[2018-04-16 18:50] marci4 commented on #694
Hello @PhilipRoman,

thank you very much for your bug report!

Yeah you are right, such a method should not contain an assert.

I think the best solution is to just remove them!

Best regards,
marci4

[2018-04-17 08:03] Likarl opened #695 "Support uploading files to server?"
## Expected Behavior
Request to upload images to server by websocket but I don't know how to do it. Can I use this framework for file uploads?

## Current Behavior

## Possible Solution

## Steps to Reproduce (for bugs)

1.
2.
3.
4.

## Debug log (for bugs)

## Context

## Your Environment

* Version used:
* Java version:
* Operating System and version:
* Endpoint Name and version:
* Link to your

[2018-04-17 19:29] marci4 commented on #695
Hello @Likarl,

of course you can implement that yourself using Binary frames. These frames allow you to send a byte array/buffer to the other endpoint.
That is up to the application, we do not provide any special features for that!

In short, get a bytebuffer/array of your file, send it to the other endpoint and then write this bytebuffer/array in a specific file (Keep in mind NOT to trust the ar

[2018-04-18 03:53] twoi commented on #392
@marci4 I'm not involved in that project any more, and so unfortunately I currently have no easy way to test the latest version.

So I won't cry if you close this issue :)

[2018-04-18 05:21] michaeldboyd opened #696 "Can someone explain an easy way to reconnect my client socket?"
I don't understand the reconnect example. I have created a new thread

[code]

[2018-04-18 14:29] hahaerle opened #697 "java.lang.OutOfMemoryError"
## Expected Behavior

java.lang.OutOfMemoryError
Could not allocate JNI Env
--
 java.lang.Thread.nativeCreate(Native Method)
 java.lang.Thread.start(Thread.java:729)
 org.java_websocket.client.WebSocketClient.run(WebSocketClient.java:280)
 java.lang.Thread.run(Thread.java:760)

## Current Behavior

## Possible Solution

## Steps to Reproduce (for bugs)

1.
2.
3.
4.

## Debug log (for bugs)

## Con

[2018-04-18 15:37] marci4 commented on #697
Hello @hahaerle,

Please use the `Bug Report` template provided at https://raw.githubusercontent.com/TooTallNate/Java-WebSocket/master/.github/ISSUE_TEMPLATE.md.

Without a full bug report this will be closed.

Best regards,
marci4

[2018-04-18 15:40] marci4 commented on #392
Thank your feedback!

Since no one else seems to have this issue and you are fine with it, I will close it!

If however anyone has the same problem, feel free to reopen this!

Best regards,
marci4

[2018-04-18 15:40] #392 closed

[2018-04-18 15:42] marci4 commented on #697
_Could be duplicate and cannot reproduce (see #664)_

[2018-04-18 15:43] marci4 commented on #695
@Likarl, you wanna post your solution here or are you fin with closing this issue?

Best regards,
marci4

[2018-04-18 15:44] marci4 commented on #690
Issue seems to be solved!

Closing it!

Best regards,
marci4

[2018-04-18 15:44] #690 closed

[2018-04-18 15:46] marci4 commented on #696
Hello @michaeldboyd,
with 1.3.8 you don't have to recreate a WebSocket, you can reuse it!

Just keep in mind not to start the reconnect in the WebSocket itself and use a separate thread for this!

Apart from that I do not understand what you are trying to achieve with this code, I'm sorry!

Best regards,
marci4

[2018-04-18 16:06] michaeldboyd commented on #696
Thanks for the quick response!  And apologies for the frantic late night post, haha.

That makes much more sense.  I'm testing to see if I can reconnect to a server that dies and goes back online. It works really well, but the reconnect takes about a minute once the server is turned back on. Is there any way to lower this wait? I'd love to have it reconnect in < 10 seconds, but I understand if it

[2018-04-18 21:08] marci4 commented on #258
Added examples for this!

Forgot to close this issue!

Best regards,
marci4

[2018-04-18 21:08] #258 closed

[2018-04-19 15:49] marci4 commented on #696
Hello @michaeldboyd,

how do you trigger the reconnect? With the onClose() or different?
How does the server die? Does it shut down normally or is it killed hard, leaving all the connections open?

If the connections are left open, then it is harder to detect. Therefore we have a [lost connection detection](https://github.com/TooTallNate/Java-WebSocket/wiki/Lost-connection-detection), which just d

[2018-04-22 05:50] CSnowStack opened #698 "[Android 4.4] javax.net.ssl.SSLException: Connection closed by peer"
Connect failed on android4.4 but can be used on high versions

[2018-04-22 16:26] marci4 commented on #698
Hello @CSnowStack,

Please use the `Bug Report` template provided at https://raw.githubusercontent.com/TooTallNate/Java-WebSocket/master/.github/ISSUE_TEMPLATE.md.

Without a full bug report this will be closed.

Best regards,
marci4

[2018-04-22 16:28] marci4 commented on #693
No feedback for a week!

Issue should be answered from my point of view!

Closing it!
Best regards,
marci4

[2018-04-22 16:28] #693 closed

[2018-04-22 16:28] marci4 commented on #692
No update for a week...

Closing issue!
Best regards,
marci4

[2018-04-22 16:28] #692 closed

[2018-04-22 16:29] marci4 commented on #688
Hello @ykbjson,
is this issue solved for you?

[2018-04-25 07:11] anishlg opened #699 "Enable and Disable ping/pong"
## Expected Behavior
The ping/pong is enabled to identify the lost connection. For connection to work properly in Android mobile sleep mode, we should be able to disable ping/pong in sleep mode and enable it back again when device wakes up.

## Current Behavior
In Android mobile goes to sleep mode, when we disable ping/pong using setConnectionLostTimeout(0). It works fine. But when we enable ping/

[2018-04-26 16:58] marci4 commented on #699
Hello @anishlg,

thank you very much for opening this issue!

What do you think is the better approach? I am in favour of adding the possibility to reactivate the lost connection detection with the setter rather then adding an additional method.

Could you also provide a simple application for me since I haven't done any android app.

Thank you very much!

Best regards,
marci4

[2018-04-26 17:02] marci4 commented on #691
Still looking for new contributers!

Also added a new label `up-for-grabs` for some issues!

Best regards,
marci4

[2018-04-26 17:03] marci4 commented on #688
No feedback. Closing issue!

[2018-04-26 17:03] #688 closed

[2018-04-27 08:52] nysyzp opened #700 "how to keep alive between client and server ,use 1.3.8 ;"
version:

   <dependency>
      <groupId>org.java-websocket</groupId>
      <artifactId>Java-WebSocket</artifactId>
      <version>1.3.8</version>
    </dependency>

i hava read this wiki: https://github.com/TooTallNate/Java-WebSocket/wiki/Lost-connection-detection;

but this seems could not be used on this version(1.3.8); Yes?

i used this code ,but also was closed;pls help me solve this problem;

[2018-04-27 15:48] marci4 commented on #700
Hello @nysyzp,

please read the [FAQ ](https://github.com/TooTallNate/Java-WebSocket/wiki/Frequently-asked-questions#im-getting-the-exception-websocketnotconnectedexception-what-should-i-do) on the WebSocketNotConnectedException!

Hope, this helps you!
Best regards,
marci4

[2018-04-28 01:55] nysyzp commented on #700
hi @marci4 ,
my question was how to keep alive between client and server ; not WebSocketNotConnectedException;

they can established, but auto closed after 120s;

pls help me ;thank you very much;

[2018-04-28 02:41] nysyzp commented on #700
hi @marci4 ,
if i use client.setConnectionLostTimeout(0), it worked;it was not auto closed after 120s;

pls ignore it,thank you ;

[2018-04-28 02:41] #700 closed

[2018-04-28 09:04] zhengxiaosong opened #701 "WebSocket had been connected but can't send message"
WebSocket had been connected but can't send message

I had use Java-WebSocket in my android app，and i found that it can't send any message to the sever.  the code is:
[code]
This code can receive data from server, and step in to `case "Connected":`，but fail at the sendMessage function. no error，and no exception. After send message, it still could receive data from server.

Is my code write in corr

[2018-04-28 09:29] lee-vic commented on #701
友情帮顶，不要沉

[2018-04-28 09:31] lee-vic commented on #701
The top of friendship, do not sink

[2018-04-29 16:29] marci4 commented on #694
Issue is fixed by PR #702.

Thank you again, @PhilipRoman.

Best regards,
marci4

[2018-04-29 16:29] #694 closed

[2018-04-30 17:15] yuvalherziger opened #703 "[QUESTION] synchronously wait for client to respond to server broadcast"
Hi everyone,

I know this is not a bug or an issue, but rather a technical question on the library and the protocol in general. Full disclosure, my basic understanding of how the protocol works and how the library works might make this question seem weird to you, but I thought I'd try anyway. Whether this is impossible or rather achievable already, I'd love to know. Thanks for your help in advance

[2018-04-30 17:27] #703 closed

[2018-05-01 05:32] marci4 commented on #701
Hello @zhengxiaosong,
Sorry for the delayed response. I am currently very busy and therefore far away from a pc.
Due to that reason I haven't tested your code but it looks good.
If there is no exception and also no onError call, then the binary frames should be sent.

So are you sure that you implemented the binary listener on the server side and not the text listener?
Since you are sending a bina

[2018-05-01 17:10] marci4 commented on #697
No feedback.

Closing issue!
Best regards,
marci4

[2018-05-01 17:10] #697 closed

[2018-05-01 17:11] marci4 commented on #696
@michaeldboyd is this issue solved for you?

Best regards,
marci4

[2018-05-01 18:10] bhaswanth88 commented on #691
@marci4 : I am happy to help, Please message me

[2018-05-02 01:53] zhengxiaosong commented on #701
Hi @marci4 , thanks to you.   I didn't pay any attention at the difference between text and binary frame. the sever was only receive text frame,  and when i change the sever to receive a binary frame, it can receive successful. thank you. You've been a great help already.

[2018-05-02 02:28] #701 closed

[2018-05-02 16:19] michaeldboyd commented on #696
yep, thank you!

On Tue, May 1, 2018 at 11:11 AM Marcel Prestel <notifications@github.com>
wrote:

[2018-05-03 07:27] anishlg commented on #699
@marci4 ,
We create an android sample app for the issue testing. Please use this attached apk and connect to any webSocket server with ping/pong.
Instructions are provided in the attached ppt. Follow the same to reproduce the issue and please let us know any further queries...

[android.zip](https://github.com/TooTallNate/Java-WebSocket/files/1969913/android.zip)

Best regards,
Anish

[2018-05-03 10:37] #696 closed

[2018-05-03 18:45] marci4 commented on #691
@bhaswanth88, could you email me? You don't have a public email address visible!

[2018-05-07 09:24] jinsen47 opened #704 "java.net.ConnectException"
## Expected Behavior

## Current Behavior

## Possible Solution

## Steps to Reproduce (for bugs)

1.
2.
3.
4.

## Debug log (for bugs)

## Context

## Your Environment

* Version used:
* Java version:
* Operating System and version:
* Endpoint Name and version:
* Link to your project:

[2018-05-07 09:25] #704 closed

[2018-05-07 11:13] leokho commented on #410
Hi!
I've just updated the library in my gradle and seems like this file isn't being downloaded.
"Error:(81, 33) error: cannot find symbol class DefaultSSLWebSocketClientFactory"

I've just updated to 1.3.8 from 1.3.0

Thanks

[2018-05-07 21:44] stefan-reich opened #705 "Weird \0 bytes"
Hey, I'm seeing weird things with WebSockets. Basically, in onMessage(), I receive the correct string - but with additional superfluous null bytes attached (string displayed as hex in UTF8 format for illustrative purposes):

2b4d6f6e204d61792030372032333a34303a353620434553542032303138207c203630303538206d730a00000000

These can be fewer or more null bytes, depending on... the weather I guess. (?!!!

[2018-05-08 07:25] farhanlatheef commented on #311
@marci4 there is nothing in that link.

[2018-05-08 12:53] marci4 commented on #705
Hello @stefan-reich ,

Please use the `Bug Report` template provided at https://raw.githubusercontent.com/TooTallNate/Java-WebSocket/master/.github/ISSUE_TEMPLATE.md.

Without a full bug report this will be closed.

Best regards,
marci4

[2018-05-08 14:18] Adezking commented on #699
Hello @Anish,
I don't know much about programming and I've been finding it difficult to build my own Binary.com webSocket API connection system.
Pls I'll be willing to pay for your service if you can help me build for PC and mobile.My email is..

Adezking2007@gmail.com

THANKS.

[2018-05-08 15:14] stefan-reich commented on #705
You are trying to waste my time. I can provide a test program you can run if you like.

I'm using Java 1.8 on Peppermint Linux 64 bit. Standard stuff.

[2018-05-09 11:27] kkopper opened #706 "Missing CA ends in SSLHandshakeException"
## Expected Behavior

Establish a secure WebSocket connection to a server using a *Let's Encrypt* certificate.

## Current Behavior

`SSLHandshakeException` (full stack trace below) and closing the connection with status `-1`.

If I try to connect to `wss://echo.websocket.org`, which uses *Go Daddy Secure Certificate Authority - G2*, all works as expected.

I also connect to a HTTP service provide

[2018-05-11 12:37] kkopper commented on #706
Thank you very much for the hint. I contacted the responsible for the server and after he included the certificate chain, everything works as expected.

I just changed the title to better represent the actual problem, it is up to you if you want to close the issue or leave it open to provide help for others.

[2018-05-11 12:50] anishlg commented on #699
@marci4 ,
Any update on this issue. we already shared the android app which can reproduce the issue. please revert with your suggestions for the same. If any clarification required, please let me know

[2018-05-11 19:02] marci4 commented on #706
Hello @kkopper,

Happy that this helped you!

I would add my answer to the FAQ and then close this issue since it is solved.

Best regards,
marci4

[2018-05-11 19:06] marci4 commented on #699
Hello @anishlg,
Sorry for not responding to use. Right now I am very busy and forgot to answer you.

I wrote the code and did not have this use case in mind (since this library is designed for java in the first place).
I just asked for the code to get a better understanding what is the best approach.
Never the less I cannot promise that I can integrate this feature soon since I am busy right now w

[2018-05-12 17:06] algiuxass opened #707 "GZIP support?"
## Expected Behavior
GZIP compression.

## Current Behavior
No GZIP compression.

## Possible Solution
Add GZIP compression.

## Context
I want that sending data/receiving data would be faster, people with limited internet connection would save data.

[2018-05-13 06:36] marci4 commented on #707
Hello @algiuxass,

do you mean the per-message-deflate extension or GZIP on an application level.
If you mean the second one, you have to do this yourself!
If you mean the first one, there is already an open issue for that!

Best regards,
marci4

[2018-05-13 13:51] algiuxass commented on #707
I meant the first one.

[2018-05-13 13:51] #707 closed

[2018-05-14 15:19] marci4 commented on #706
Included it to the FAQ.

Thank you again!
Best regards,
marci4

[2018-05-14 15:19] #706 closed

[2018-05-14 16:10] marci4 commented on #699
Hello @anishlg,
this issue should be solved with #708.

Could you maybe try it out?
Thank you!

Best regards,
marci4

[2018-05-18 05:37] marci4 commented on #705
Missing template.

Closing issue!
Best regards,
marci4

[2018-05-18 05:37] #705 closed

[2018-05-23 17:18] mlybarger commented on #691
@marci4  i'm intereseted to help with this.

[2018-05-23 17:19] mlybarger opened #709 "maven build"
to build a jar, i needed to add this section to the maven pom:

[code]

[2018-05-24 06:57] jayronlou opened #710 "如何注册取消不同的事件"
您好，我想问一下，链接websocket之后，如何订阅和取消不同的事件呢？多谢

[2018-05-24 09:40] PhilipRoman commented on #710
Instead of using "subscriptions" you create a subclass of WebSocketServer or WebSocketClient and define your callbacks by overriding the methods "`onMessage`", "`onOpen`", "`onStart`" and "`onClose`". You can cancel them either by shutting down the whole socket or using your own logic (by toggling a variable, etc.).  If you're still not sure, take a look at the examples.

I hope I understood your

[2018-05-24 10:36] PhilipRoman opened #711 "broadcasting a ByteBuffer"
I would be very interested into an overload `broadcast(ByteBuffer)` for `WebSocketServer` like the one for byte arrays and strings. One could use `ByteBuffer.array()` but it is, in fact, sematically different, because variables like position and limit are not taken in account when sending. Are there any technical difficulties preventing such an overload and would there be any opportunities of opti

[2018-05-24 17:08] marci4 commented on #709
Hello @mlybarger,

that is interesting since I am using this maven pom.xml to build the lib for the repository.

And I do not understand why the examples should be required for the build...
Could you explain this for me please?

Best regards,
marci4

[2018-05-24 17:11] marci4 commented on #711
Hello @PhilipRoman,

thank you very much for the idea.
Yeah, for me it was never a use case so I thought, I just to the byte array.
But I see where you are coming from!

Feel free to open a PR for this. I am more than happy to merch it!

Best regards,
marci4

[2018-05-24 19:33] mlybarger commented on #709
You're right. There's no need for that on the pom.  I do however get
sporadic errors from the unit tests which caused a problem for me
building.  I added that, and it built, but it is indeed not needed.  I
don't know why I get this random error.  It's very hard to recreate.  I did
get errors on both windows (java 7) and linux (java 8).

Running org.java_websocket.framing.BinaryFrameTest
Tests run:

[2018-05-24 19:51] marci4 commented on #709
Hello @mlybarger,

yeah I know about that sporadic issue. It is more an issue with the test itself then with the reconnect functionality.
The problem is that the WebSocketServer sometimes cannot handle more then 5 connections if the connect at the exact same moment (what happens with this test setup). Then the connection won't get established and everything breaks.

I "ignored" this sporadic error

[2018-05-25 14:58] marci4 opened #713 "Create Tests for broadcast"
## Expected Behavior

There should be some tests in place which check the functionality of the broadcast methods (byte array, bytebuffer and string) in a basic way.
Also this is a good opportunity to refactor this code if needed!

## Current Behavior

No tests are in place

## Possible Solution

Create tests

## Steps to Reproduce (for bugs)

1. Check test report in jenkins

## Context

New tests

[2018-05-27 16:54] marci4 commented on #711
Merged #712

Closing this issue!

[2018-05-27 16:54] #711 closed

[2018-05-30 09:16] wang0x32 opened #714 "java.util.ConcurrentModificationException"
AndroidRuntime: java.util.ConcurrentModificationException
 AndroidRuntime: 	at java.util.HashMap$HashIterator.nextEntry(HashMap.java:787)
 AndroidRuntime: 	at java.util.HashMap$KeyIterator.next(HashMap.java:814)
 AndroidRuntime: 	at java.util.AbstractCollection.toArrayList(AbstractCollection.java:349)
 AndroidRuntime: 	at java.util.AbstractCollection.toArray(AbstractCollection.java:339)
 AndroidRu

[2018-05-30 16:25] leokho opened #715 "WebsocketNotConnectedException on SendPing"
WebSocket pings without connections and causes to crash: WebsocketNotConnectedException

## Expected Behavior
Application using the websocket client is not supposed to crash while running on Android.

## Current Behavior
We have found in some Android phones the following error:

Fatal Exception: org.java_websocket.exceptions.WebsocketNotConnectedException
       at org.java_websocket.WebSocketImpl

[2018-05-30 20:56] princrai opened #716 "Can I use this Library to connect to Unix Domain Socket."
Hello,

I am looking for some java library to connect to a process(daemon) which is listening on a unix domain socket. Not sure if this library can be used for that. Apart from that I am currently using JUnixSocket to write and read through the socket, but the read is causing the CPU spikes as it waits for the daemon to return the data back and at that that it keep blocked on the read() function.

[2018-06-03 18:02] marci4 commented on #714
Hello @wang0x32

Please use the `Bug Report` template provided at https://raw.githubusercontent.com/TooTallNate/Java-WebSocket/master/.github/ISSUE_TEMPLATE.md.

Without a full bug report this will be closed.

Best regards,
marci4

[2018-06-03 18:05] marci4 commented on #715
Hello @leokho,

thank you for your bug report.

I think the best is to just catch this exception. Could be just a bad timing thing....
Does this happen a lot?

Best regards,
marci4

[2018-06-03 18:08] marci4 opened #717 "New SSLSocketChannel"
## Expected Behavior

There are some known issues with the current implementation [SSLSocketChannel2](https://github.com/TooTallNate/Java-WebSocket/blob/master/src/main/java/org/java_websocket/SSLSocketChannel2.java). See #424 & #665. A clean implementation (maybe using  SSLSocketChannel) should solve these issues.

## Current Behavior

#424 and #665

## Possible Solution

New SSLSocketChannel

[2018-06-03 18:14] marci4 commented on #716
Hello @princrai,

as far as I know this is not possible.
This library implements [RFC 6455](https://tools.ietf.org/html/rfc6455) and to my knowledge there is now way to access a IPC socket using websockets.

Best regards,
marci4

[2018-06-04 06:03] PhilipRoman commented on #716
Apparently node.js supports this. See [this question on stackoverflow](https://stackoverflow.com/questions/23930293/websockets-listening-on-unix-domain-socket?utm_medium=organic&utm_source=google_rich_qa&utm_campaign=google_rich_qa). They are using a cool syntax for the url: `var client = new ws("ws+unix:///tmp/server.sock")`

[2018-06-05 08:44] leokho commented on #715
Hi @marci4 ,

Yes, it does happen quite a bit, around 10% of our users experience this bug. We are still trying to see if we find a way to replicate this on our side.

The stack trace that I've posted, is the full one.

[2018-06-05 13:46] #714 closed

[2018-06-05 17:03] marci4 commented on #715
Hello @leokho,
that is actually a lot. I am sorry for the inconvenience!!

On what interval have you set the connection lost detection?
Have you run into the same issue described in #699 ?
Could you describe how you are using the library in your app?

Maybe this helps at least get to the source of the problem.

Best regards,
marci4

[2018-06-06 03:38] yuliangC opened #718 "可以实现重连吗？"
非常感谢你的库给了我很大帮助。请问还可以实现断线重连吗？

[2018-06-06 05:54] marci4 commented on #718
Hello @yuliangC,

could you please ask your question in english? thanks!

Best regards,
marci4

[2018-06-06 07:21] han361769045 commented on #718
How can reconnect when the socket is closed ,the network is off ?

[2018-06-06 07:27] yuliangC commented on #718
thanks for your library,it help me a lot ,while this is a question trouble me ,like the gay says above,How can reconnect when the socket is closed ,the network is off ?

[2018-06-06 08:59] JoanaDFerreira commented on #715
Hello @marci4,

Yes, we think our issue is the same as #699.
Could you please create a new version tag with the updates you did for this issue in master for us to test?

thank you,
Joana

[2018-06-06 16:22] marci4 commented on #715
Hello @JoanaDFerreira,

that would only be #708.

Best regards,
marci4

[2018-06-06 17:17] marci4 commented on #718
Hello @yuliangC,

I added the reconnect() method with 1.3.8.

Check out the [JavaDocs](https://static.javadoc.io/org.java-websocket/Java-WebSocket/1.3.8/org/java_websocket/client/WebSocketClient.html) for more.

Best regards,
marci4

[2018-06-07 18:17] TestTito opened #719 "Failure in SSL library or Connection Hangs"
## Expected Behavior
Trying to connect to the secure websocketserver (wss) the first time i start the app it always work.
Then after a few connection/reconnections, it becomes unstable.
When I try to connect it just hangs and nothing shows up on server side or SSl error described below.
The server and web application works perfectly if i start everything without https/wss

## Current Behavior
The

[2018-06-08 14:41] marci4 commented on #719
Hello @TestTito,

thank you very much for your bug report.

Do you think this issue is caused by https://github.com/TooTallNate/Java-WebSocket/wiki/FAQ:-Secure-WebSockets#handshake-error-on-android?

SSl on Android is sometimes very buggy, so it could be related to this.
Apart from this, I know that our current method is not bug free, so it could be related to this as well (See #717).

Best regard

[2018-06-08 15:04] TestTito commented on #719
Yeah I did the customSSL the only protocols left are TLSV1.2 TLSV1.1  and TLSV1
I did remove some cyphers too, and I tryed every cyphers one by one to see if it could help.

So I don't know why it keeps having some SSL exceptions when i am suppose to use TLS?

I tryed to use SSLSocketChannel and SSLSocketChannel2 both outputs the same error.

I am out of ideas :( thanks for your reply.

[2018-06-11 20:02] marci4 commented on #710
Hello @jayronlou,

is this issue solved for you?

Best regards,
marci4

[2018-06-11 20:36] marci4 commented on #718
Hello @yuliangC ,

is this issue solved for you?

Best regards,
marci4

[2018-06-13 05:48] marci4 commented on #718
Hello @yuliangC,

no I cannot give you a time frame in which you wanna reconnect.
That is up to your application!

Best regards,
marci4

[2018-06-15 06:29] #710 closed

[2018-06-15 11:44] mani2478 opened #720 "Handshake fails while connecting from Edge Browser - Microsoft Edge 42.17134.1.0"
Connecting secure websocker server fails while trying from Edge Browser Microsoft Edge 42.17134.1.0.

## Expected Behavior
Expected like other browsers.

## Current Behavior
java.io.IOException: connection closed unexpectedly by peer

## Possible Solution
No Work Around

## Steps to Reproduce (for bugs)
1.Used the java -cp build/examples;dist/java_websocket.jar -Djavax.net.debug=all SSLServerExamp

[2018-06-15 15:33] yperess opened #721 "Crash caused by sendPing in restartConnectionLostTimer"
## Expected Behavior
`sendPing` should only be called when the connection is valid.

## Current Behavior
`sendPing` is called but throws `WebsocketNotConnectedException`

## Possible Solution
Wrap the call here https://github.com/TooTallNate/Java-WebSocket/blob/master/src/main/java/org/java_websocket/AbstractWebSocket.java#L173 with a try/catch

## Steps to Reproduce (for bugs)
I'm sorry, it's sup

[2018-06-17 17:09] marci4 commented on #721
Duplicate of #715

[2018-06-17 17:10] #721 closed

[2018-06-17 17:11] marci4 commented on #720
Hello @mani2478,

I cannot reproduce this issue with Edge 41.16299.492.0.

Since you cannot install a new version manually, I have to mark this as cannot reproduce!

Best regards,
marci4

[2018-06-18 12:51] TestTito commented on #719
@marci4 Hi, I have tested AndroidAsync from Koush just to know if it wss works well. It is WAY more stable on the WSS then this one I am wondering if we could compare the ssl implementation inside Koush one to find the clue of the exceptions?

[2018-06-18 17:09] marci4 commented on #719
Hello @TestTito,

since I am very busy in RL, I do not have the time for this!
Most of my free time is already gone managing open issues and stuff...
Anyway, feel free to do contribute and compare yourself!

Best regards,
marci4

[2018-06-18 17:17] #715 closed

[2018-06-20 04:46] tangze commented on #496
Meet the same question in
OS: windows 10-1803
JRE: 1.8
Server: websocket-sharp(https://github.com/sta/websocket-sharp) based

onMessage never called, & I'm sure the Server works fine.

[2018-06-20 06:03] marci4 commented on #496
Hello @GregoryConrad,

please open a new issue. Cannot keep track of old closed issues!
Best regards,
marci4

[2018-06-21 13:03] marci4 commented on #720
Hello @mani2478,

thank you for taking a look at this!

Best regards,
marci4

[2018-06-26 08:13] dersteve opened #725 "Spring Integration planned?"
I'm using Java-WebSocket in combination of https://github.com/ChargeTimeEU/Java-OCA-OCPP.

Java-WebSocket opens up a WebSocket listener on a specific port. My app runs inside a CloudFoundry container and I can only open up one port for the outside (limitation from the configured platform, which I can't change).

Everything works fine, but I'd also like to add REST-Endpoints to the Spring app, mean

[2018-06-26 08:42] brijsinghdev opened #726 "Can we remove synchronized appending to queue, this will make code run multithreaded"
WebSocketImpl.java line#:704

private void write( List<ByteBuffer> bufs ) {
		synchronized(synchronizeWriteObject) {
			for( ByteBuffer b : bufs ) {
				write( b );
			}
		}
	}
## Current Behavior

## Possible Solution

## Steps to Reproduce (for bugs)

1.
2.
3.
4.

## Debug log (for bugs)

## Context

## Your Environment

* Version used:
* Java version:
* Operating System and version:
* Endpoint

[2018-06-26 16:58] marci4 commented on #726
Hello @brijsinghdev,

I added this to insure that multiple frames are correctly send in order.
Otherwise it would be possible that e.g. a splitted binary frame will be send and in between a ping frame would be received by the other endpoint. This could cause problems which then result in a dropped message.

Best regards,
marci4

[2018-06-27 08:35] Davevb commented on #526
I'm having the same issue. I try to reconnect by making a new instance every 10 sec. For example, when a connection is made after 2 minutes I see 12 connections on server side and only the last one is used...

[2018-06-27 08:42] littleBoyGoing opened #727 "WebSocketClient can't recive message when WebSocket service message too large"
websocketClinet can't recive message when  webSocket service message to large

This tool have some setting about this  to recive large message

[2018-06-27 09:36] MuspelWolf opened #728 "Can't close Server in OnClick"
I'm trying to close the server when clicking a button in Android but the app get an error.
Android SDK version :21
Language : Java

Error in function call :

public void stopVoiceRecognition () {
        if (speech != null) {
                speech.stopListening();
                speech.cancel();
                speech.destroy();
                speech = null;
                webSocket.closeConne

[2018-06-27 09:41] PhilipRoman commented on #728
Can you post a stack trace here?

[2018-06-27 09:43] MuspelWolf commented on #728
E/AndroidRuntime: FATAL EXCEPTION: main
                  Process: com.example.raulgarcia.bsbandriod, PID: 2417
                  java.lang.IllegalStateException: Could not execute method for android:onClick
                      at android.support.v7.app.AppCompatViewInflater$DeclaredOnClickListener.onClick(AppCompatViewInflater.java:389)
                      at android.view.View.performClick(Vi

[2018-06-27 09:55] PhilipRoman commented on #728
Okay, this might be really stupid from me, but is it possible that `webSocket` variable is null at the time when you try to close it?

The line `Caused by: java.lang.NullPointerException: Attempt to invoke interface method 'void org.java_websocket.WebSocket.closeConnection(int, java.lang.String)' on a null object reference` seems to suggest that.

[2018-06-27 10:28] MuspelWolf commented on #728
Just fixed the error, changed WebSocket to Server class to close the connection.
Thanks for the help.

[2018-06-27 10:28] #728 closed

[2018-06-27 11:47] marci4 commented on #526
@Davevb take a look at the new reocnnect method!

[2018-06-28 05:39] marci4 commented on #727
Hello @littleBoyGoing

Please use the `Bug Report` template provided at https://raw.githubusercontent.com/TooTallNate/Java-WebSocket/master/.github/ISSUE_TEMPLATE.md.

Without a full bug report this will be closed.

Best regards,
marci4

[2018-06-28 13:47] brijsinghdev commented on #726
Thanks marci4 for reply

Got it.
Is that sync object "**synchronizeWriteObject**" required to be static i.e. is one for whole server,  Will work fine if we make it at each connection level  may be a sync  on socket object?

[2018-06-28 20:42] marci4 commented on #725
Hello @dersteve,

that would be of course an option, if it is possible to not break existing applications.
I personally see this always as a benefit that we do not require any other framework. You can simple use a WebSocket.

I do not know how to achieve this, do you have any idea for that?

_I think that this also kind of matches issue #680._

Best regards,
marci4

[2018-06-28 20:57] marci4 opened #729 "Setup automatic snapshot build"
Based on every commit we should push an automatic snapshot.
Investigate if it is possible and how it can implemented in the jenkins job.

Maybe the webhook has to be changed to work with the main repository and not the development branch

[2018-06-29 16:49] marci4 commented on #709
Issue should be solved.

Closing it!

Best regards,
marci4

[2018-06-29 16:49] #709 closed

[2018-07-02 08:43] marsend opened #730 "Please update the start command for example"
## Expected Behavior

The websocket server will started by running command `java -cp build/examples:dist/WebSocket.jar ChatServer`. [where is command from](http://tootallnate.github.io/Java-WebSocket/)
## Current Behavior

Command result is `Error: Could not find or load main class ChatServer`
## Possible Solution

The correct command should be `java -cp build/examples:dist/java_websocket.jar Chat

[2018-07-02 13:01] VyacheslavMartynenko opened #731 "Android background disconnect"
Getting "The connection was closed because the other endpoint did not respond with a pong in time." Full description of problem hear:
[https://stackoverflow.com/questions/51133783/socket-connection-in-background](https://stackoverflow.com/questions/51133783/socket-connection-in-background)

[2018-07-02 13:06] PhilipRoman commented on #731
fixed the link

[2018-07-02 13:21] VyacheslavMartynenko commented on #731
The link is fine, please check again.

[2018-07-02 13:34] VyacheslavMartynenko commented on #731
Ah, aorry about this.

[2018-07-02 17:49] oakkitten commented on #731
android suspends the cpu when it sleeps, which includes the library's ping-pong mechanism. you should implement your own pinging in such a way that it wakes up the cpu, and disable the built-in one. you may need to exclude your app from the doze, too

[2018-07-02 20:56] VyacheslavMartynenko commented on #731
This app is excluded from battery optimization rules.
Possibly the only working way to wake up a device from service is to start an activity with window flags, but it doesn't look like an elegant option. And I'd like to try to find another solution.

[2018-07-03 16:50] IOCyanfox commented on #343
This happens again in version 1.3.8. The websocket disconnects with either code 1000 or 1006 with empty reason.

[2018-07-03 20:04] marci4 commented on #731
Hello @VyacheslavMartynenko

Please use the `Bug Report` template provided at https://raw.githubusercontent.com/TooTallNate/Java-WebSocket/master/.github/ISSUE_TEMPLATE.md.

Without a full bug report this will be closed.

I am also interested in your lib-version, since I added some additional info text for this dc to help enduser understand the issue!

Could you also provide a sample application,

[2018-07-03 20:05] marci4 commented on #718
Is this issue solved for you now?

Best regards,
marci4

[2018-07-03 20:05] marci4 commented on #716
Is this issue solved for you?

Best regards,
marci4

[2018-07-03 20:07] marci4 commented on #726
Hello @brijsinghdev,

yeah, you are right about this!
Should not be static just final right?

Thanks for taking a look at this!
@PhilipRoman what do you think, am I missing something here?

Best regards,
marci4

[2018-07-03 20:10] marci4 commented on #730
Hello @marsend,

thank you for your bug report!

Do you mind open a PR to fix this issue?
Love to give credit where credit is due!

Best regards,
marci4

[2018-07-04 05:09] princrai commented on #716
I am trying Netty library to connect to Unix Socket. And getting some good
result(latency,throughput).

Thanks,
Prince

On Tue, Jul 3, 2018 at 1:05 PM Marcel Prestel <notifications@github.com>
wrote:

[2018-07-04 05:54] #716 closed

[2018-07-04 07:10] sucaiji opened #732 "reconnect() method will block"
my code:

[code]

by debug, I find program will block in LockSupport.java

[code]

Did my usage is wrong?Or Bug?
My English is not good,Sorry.

[2018-07-04 07:17] PhilipRoman commented on #726
Yeah, no static resources are accessed within the synchronized block so it should be fine!

[2018-07-04 12:19] VyacheslavMartynenko commented on #731
Hello @marci4

I think, nevertheless, this problem is more relevant to Android than to the library. But you can see my answer to this problem by the same link to the StackOverflow. Perhaps it will be useful to you.
And unfortunately, I can not provide the application in the near future.

Best regards,
Vyacheslav

[2018-07-04 16:53] marci4 commented on #730
Hello @marsend,

I changed everything!

Thank you again!

Best regards,
marci4

[2018-07-04 16:53] #730 closed

[2018-07-05 01:29] 925941723 opened #735 "ssl == null"
I got a error like this:

# Thread-13(5657)
java.lang.NullPointerException
ssl == null

1 com.android.org.conscrypt.NativeCrypto.SSL_set_timeout(Native Method)
--
2 com.android.org.conscrypt.SslWrapper.setTimeout(SslWrapper.java:101)
3 com.android.org.conscrypt.ActiveSession.invalidate(ActiveSession.java:147)
4 com.android.org.conscrypt.DelegatingExtendedSSLSession.invalidate(DelegatingExtendedSSL

[2018-07-05 05:52] #726 closed

[2018-07-06 05:20] #718 closed

[2018-07-06 10:52] marci4 commented on #727
No feedback!

Closing dead issue.
Best regards,
marci4

[2018-07-06 10:52] #727 closed

[2018-07-06 12:06] marci4 commented on #729
Webhook working!

Needs more investigation how to deploy a snapshot!

[2018-07-06 13:50] marci4 commented on #729
Working on https://oss.sonatype.org/content/repositories/snapshots/org/java-websocket/Java-WebSocket/1.3.9-SNAPSHOT/

[2018-07-06 14:23] #729 closed

[2018-07-07 09:03] githubbugzz commented on #732
断线重连的问题解决了吗？

[2018-07-07 09:51] oakkitten commented on #731
the system will still put cpu to sleep. this library uses the regular sleep method that does *not* take sleeping into account, so you need either to never sleep, which you are doing, or wake up the cpu using android's built-in things, which i am suggesting. this is a bit of (dated) code we are using using to schedule pings:

    alarmMgr = (AlarmManager) getSystemService(Context.ALARM_SERVICE);

[2018-07-09 04:01] sucaiji commented on #732
@githubbugzz 并不是这个框架的问题 只是reconnect()不能和WebSocketClient处在同一线程

[2018-07-09 04:22] githubbugzz commented on #732
那样的话，是不是应该在onclose中先干掉这个websocketclient线程？您的解决思路是什么？能否看一下代码？

[2018-07-10 06:13] sucaiji commented on #732
@githubbugzz  不用。。简单的做法在onclose里面开个线程就可以了呀

`@Override
    public void onClose(int code, String reason, boolean remote) {
        new Thread(() -> {
            this.reconnect();
        }).start();
    }` 比如这样

[2018-07-10 20:19] marci4 commented on #731
Any update on the template?

[2018-07-10 20:19] marci4 commented on #732
Any update on the template?

[2018-07-11 06:55] brijsinghdev commented on #691
I am happy to contribute. Please ping me..

[2018-07-11 07:49] sucaiji commented on #732
@marci4   No, sorry , It's not a bug, It's my using fault

[2018-07-11 07:49] #732 closed

[2018-07-11 09:48] marci4 commented on #691
@brijsinghdev could you email me? You don't have a public email address visible!

[2018-07-11 09:48] marci4 commented on #691
@brijsinghdev could you email me? You don't have a public email address visible!

[2018-07-15 18:56] marci4 commented on #735
No template. Closing issue!

Best regards,
marci4

[2018-07-15 18:56] #735 closed

[2018-07-18 16:51] marci4 commented on #731
No template. Closing issue!

Best regards,
marci4

[2018-07-18 16:51] #731 closed

[2018-07-25 12:31] schauersbergern opened #740 "WSS Connection is refused after library update"
After updating from Java-WebSocket:1.3.6 to Java-WebSocket:1.3.8 I cannot
connect to a Secure Websocket any more.
I tried it with only updating the library, and then with code changes like
described here:
https://stackoverflow.com/questions/39234517/java-websocket-draft-refuses-handshake

But no approach did work.

After downgrading to WebSocket:1.3.6 the connection worked again

## Expected Behav

[2018-07-25 20:35] marci4 commented on #740
Hallo @schauersbergern,

thank you for your bug report!

Could you tell me to which endpoint you are connecting?

Also an empty protocol is the default for the DefaultExtension, which represents the Draft_6455.

HTTP/1.1 403 Forbidden is not in our hand since it is coming from the other endpoint.
The refused handshake however should be made clearer why!

I pushed with #741 some changes which shoul

[2018-07-27 05:51] 312353457 opened #742 "How to use the heartbeat mechanism to determine whether to disconnect?"
How to use the heartbeat mechanism to determine whether to disconnect?

[2018-07-27 06:39] PhilipRoman commented on #742
Here is the relevant [wiki page](https://github.com/TooTallNate/Java-WebSocket/wiki/Lost-connection-detection). In short, when your other endpoint doesn't respond in time, the connection will automatically be closed. You can change the timeout (or disable it) using `setConnectionLostTimeout();`. Default timeout is 60 seconds.

[2018-07-30 08:49] leokho opened #743 "Release of 1.3.9"
Hi!

I've seen that the milestones for 1.3.9 have been all completed, is there a prediction data for it's release to maven repo?

Thanks in advance!

[2018-07-30 20:05] marci4 commented on #743
Hello @leokho,

first of all thank you for your interest in this project!

So a few things:
- The milestone is mostly use to track changes which are part of this version. Never the less if there is an open issue with an active milestone, it will be part of this version (if no good reason come up)
- I currently plan to start my regression tests this week. This includes updating my private projects

[2018-07-31 16:59] marci4 commented on #740
@schauersbergern any update?

[2018-08-01 10:10] marci4 commented on #526
@Davevb open a separate issue please!

[2018-08-01 11:13] Davevb opened #744 "Reconnect fails on Android 5.1.1"
Is there any known issues using reconnect on Android 5.1. On Android 4.4.4 it works fine. On 5.1.1 it won't reconnect...
## Expected Behavior

When server side goes down and restarts, the clients should reconnect to te server side
## Current Behavior

On Android 4.4.4 the client reconnects. On Android 5.1.1 (API 22) it doesn't
## Possible Solution

## Steps to Reproduce (for bugs)

1.
2.
3.
4.

##

[2018-08-01 14:45] schauersbergern commented on #740
Hello @marci4,

the debug Snapshot #741 didn't provide org.java_websocket.protocols.Protocol, so I couldn't instantiate the class. When using Draft_6455 without extensions and protocols, I got the same output like
I got with api 1.3.8 and debug flags.

I did another test now, with your new api 1.3.8 while the server administrator of our websocket
server was listening. He said that he didn't receiv

[2018-08-01 15:30] marci4 commented on #740
Hello @schauersbergern,

you are misunderstanding what the meaning of the protocol is, which is the [Sec-WebSocket-Protocol](https://tools.ietf.org/html/rfc6455#page-59).
This is a way do define a different protocol on the application level!

If you e.g. only wanna allow the specific sec-websocket-protocol "echo-protocol", take a look at [this](https://github.com/TooTallNate/Java-WebSocket/wiki/Sp

[2018-08-02 02:15] 0xZhangKe opened #745 "reconnect() NullPointerException"
java.lang.NullPointerException: Attempt to invoke virtual method 'long java.lang.Thread.getId()' on a null object reference
	at org.java_websocket.client.WebSocketClient.connect(WebSocketClient.java:269)
	at org.java_websocket.client.WebSocketClient.reconnect(WebSocketClient.java:222)
	at com.xx.websocket.WebSocketThread$WebSocketHandler.connect(WebSocketThread.java:172)
	at com.xx.websocket.WebSo

[2018-08-02 02:33] 0xZhangKe commented on #745
java.lang.NullPointerException: Attempt to invoke virtual method 'void java.lang.Thread.start()' on a null object reference
	at org.java_websocket.client.WebSocketClient.connect(WebSocketClient.java:270)
	at org.java_websocket.client.WebSocketClient.reconnect(WebSocketClient.java:222)
	at com.xx.websocket.WebSocketThread$WebSocketHandler.connect(WebSocketThread.java:172)
	at com.xx.websocket.WebSo

[2018-08-02 05:26] PhilipRoman commented on #745
Thanks for catching this error! It would be nice if you could add additional information to match the [issue template](https://github.com/TooTallNate/Java-WebSocket/blob/master/.github/ISSUE_TEMPLATE.md), especially the steps to reproduce and android/java version to make it easier to solve this issue.

[2018-08-02 06:14] 0xZhangKe commented on #745
Model：Meizu MX6 and OPPO A83T；
System version：Android 7.1.1
Java-WebSocke versiont：1.3.8

I don't know the steps，It`s from  Umeng  analytics.
Maybe it's because reconnect() calls many times.

[2018-08-02 06:24] PhilipRoman commented on #745
By the way, are you sure that only one thread accesses the WebSocketClient object and calls connect/reconnect? It could be a race condition where the socket is reset while being connected.

[2018-08-02 06:51] 0xZhangKe commented on #745
@PhilipRoman Yes, only one thread .

[2018-08-05 19:24] marci4 commented on #743
Hello @leokho,
the regression tests looks good.

Releasing the new version to maven!

Best regards,
marci4

[2018-08-05 19:24] #743 closed

[2018-08-05 19:30] marci4 commented on #744
Hello @Davevb,

sorry for the delayed response. I swear I already asked you these questions.... ;)

The debug log is not really helpful.
Could you answer me the following questions?
- What server are you using as the other endpoint
- Are you using wss?
- Does this happen on all devices or special ones?
- Could you provide an example application?

Best regards,
marci4

[2018-08-05 19:33] marci4 commented on #742
No additional feedback and reference to the wiki

Closing issue!
Best regards,
marci4

[2018-08-05 19:33] #742 closed

[2018-08-05 20:00] #713 closed

[2018-08-06 19:45] marci4 opened #749 "Improve code quality for 1.4.0"
## Expected Behavior

SonarQube should not report to a lot of errors.

## Current Behavior

Currently SonarQube reports some errors. These should be fixed!

## Possible Solution

Fix errors found or disable rules!

## Context

Code quality

[2018-08-06 20:29] PhilipRoman commented on #749
Glad to see I'm not the only one staring at SonarQube reports 😮!  On a more serious note, I think the first thing to do should be splitting up the large methods into smaller ones. This is guaranteed not to break anything and it could even help to achieve better performance. Reading some of the code currently is quite hard and improving code quality may help more people contribute in the future.

A

[2018-08-06 20:32] marci4 commented on #749
Yeah we really have to do this!
Helps us and everyone checking all the methods.
Especially the WebSocketServer is a beauty in itself ;)

[2018-08-07 07:44] MrsCheng opened #750 "What add path in WebSocketServer for android ?"
## Expected Behavior

## Current Behavior

## Possible Solution

## Steps to Reproduce (for bugs)

1.
2.
3.
4.

## Debug log (for bugs)

## Context

## Your Environment

* Version used:
* Java version:
* Operating System and version:
* Endpoint Name and version:
* Link to your project:

[2018-08-07 09:02] PhilipRoman commented on #750
Please add more information about your problem using the given issue template (issues without template may be closed). Currently the question is unclear.

[2018-08-08 21:33] marci4 commented on #749
@PhilipRoman could you send me an email please? I would like to get your input on a few things if it is fine with you !

[2018-08-10 12:27] marci4 commented on #745
Any update?

[2018-08-10 20:58] NoahAndrews commented on #670
Any update on this?

[2018-08-11 09:54] egueli opened #751 "onFragment() deprecated?"
Hi all,

the application I'm maintaining overrides `WebSocketServer.onFragment(Websocket, Framedata)`. The IDE marks that method as deprecated, because of this annotation:
https://github.com/TooTallNate/Java-WebSocket/blob/8e9c82a138ff7b2f137e73a8b1df913aae317a17/src/main/java/org/java_websocket/client/WebSocketClient.java#L647

* why is `onFragment` deprecated?
* what should one do instead?

Than

[2018-08-11 10:03] egueli commented on #751
I see this is related to https://github.com/TooTallNate/Java-WebSocket/pull/570/.

If I read correctly the changes, `WebsocketListener.onWebsocketMessageFragment()` will never be called anymore and neither will `WebsocketServer.onFragment()`?

[2018-08-11 14:35] marci4 commented on #751
Hello @egueli,

These changes where made since most of the users expected to receive all messages using OnMessage regardless of how the message was sent.
You're application should work without any problems by simply using OnMessage (string/bytebuffer)

Best regards,
marci4

[2018-08-12 08:52] egueli commented on #751
Thank you. In my case, there wasn't much logic in `onFragment` so I could remove it altogether.

[2018-08-12 08:52] #751 closed

[2018-08-13 06:56] 0xZhangKe commented on #745
Sorry,I have never recovered this bug.

[2018-08-13 20:06] marci4 commented on #670
@NoahAndrews 1.4 is planned as the next release. No ETA since there is a lot to do...

[2018-08-14 03:30] theAprel commented on #717
Hi, any progress updates on this? Is a branch or test binary available that incorporates marianobarrios's ByteChannel implementation?

[2018-08-14 07:52] yangxsa opened #752 "javax.net.ssl.SSLHandshakeException: Remote host closed connection during handshake"
hi,i want to connect 'wss://www.bitmex.com/realtime'
I met this question.
Mmay I ask what I can do to ignore the SSL certificate?
Maybe there's something wrong with my code.
[code]

[2018-08-14 07:54] yangxsa commented on #752
This is complete log

Connection closed by remote peer Code: -1 Reason:
javax.net.ssl.SSLHandshakeException: Remote host closed connection during handshake
	at sun.security.ssl.SSLSocketImpl.readRecord(SSLSocketImpl.java:980)
	at sun.security.ssl.SSLSocketImpl.performInitialHandshake(SSLSocketImpl.java:1363)
	at sun.security.ssl.SSLSocketImpl.readDataRecord(SSLSocketImpl.java:916)
	at sun.security

[2018-08-14 10:03] marci4 commented on #752
Hello @yangxsa

Please use the `Bug Report` template provided at https://raw.githubusercontent.com/TooTallNate/Java-WebSocket/master/.github/ISSUE_TEMPLATE.md.

Without a full bug report this will be closed.

Also why do you reqire a local http proxy?

Best regards,
marci4

[2018-08-14 10:04] marci4 commented on #717
Hello @theAprel,

not really. I am currently to busy do invest a lot of time in this project due to my work load.

It looked like it would require some bigger changes...

You wanna take a look at this?

Best regards,
marci4

[2018-08-14 11:43] yangxsa commented on #752
I am in China,but the url "wss://www.bitmex.com/realtime" is  not available in China.
I used vpn，so I add a local http proxy,and i am wrong?
I can't understand why i am faild
I try to connected "wss://api.fcoin.com/v2/ws" just now,i am success
Originally, I think is SSL certificate not correct,but now....
Sorry,English is not good
Thanks for your view and reply.

[2018-08-14 13:00] marci4 commented on #752
Please use the template!

Otherwise this issue will be closed...

[2018-08-14 17:05] marci4 commented on #745
No steps to repeat! No template! And cannot reproduce by reporter....

Closing issue!
Best regards,
marci4

[2018-08-14 17:05] #745 closed

[2018-08-14 18:02] theAprel commented on #717
I gave it a shot this morning. The largest obstacle is marianobarrios/tls-channel requires Java 8, and this project supports back to Java 6, which likely rules it out as a solution. That aside, I tried it anyway to see if it would fix the WSS problems.

I didn't get very far, but I'll type out my progress in case anyone finds it useful. I replaced the return statements of `wrapChannel` in `Default

[2018-08-14 18:11] marci4 commented on #717
Hello @theAprel,
thanks for your feedback.

Well I personally have no problem dropping the 1.6 support...
Java 10 is the active version and I do not see any problems going up to 1.8.
I don't know if there would be problems with Android but on the other hand, Google copying everything from Java has the side affect that everything is currently working...

Thank you for your progress report. It may h

[2018-08-14 18:28] marci4 commented on #717
Hello @theAprel,

thanks again for your feedback!

Going to focus a bit more effort into wss then!

Best regards,
marci4

[2018-08-14 19:21] marci4 opened #753 "Breaking changes in 1.4"
This issue is used to track all the breaking changes coming with 1.4.0.

Since this is the first major release, I would like to use this opportunity to clean up some old things.

## Breaking changes
- Enum `ReadyState` was moved (and renamed) to to `org.java_websocket.enums.ReadyState`
- Enum `Opcode` was moved to `org.java_websocket.enums.Opcode`
- Enum `Role` was moved to `org.java_websocket.enu

[2018-08-14 20:18] marci4 opened #755 "Update documentation for 1.4"
## TODO

- [x] Explain the jar with dependencies.
- [x] Explain the log level.
- [x] Update readme
- [x] Update template

[2018-08-15 12:10] #670 closed

[2018-08-16 05:31] YudizVinay commented on #293
@marci4 this question is duplicate of this question??? wow, nice reason to close this issue (clap)

[2018-08-16 06:50] Davevb commented on #744
Hi, Sorry. I was on holiday.

- The server we are using is a small "black box" with Windows 10 IoT running on it.
-  No just ws
- I can only test on 1 device and that's our touchscreen (http://prodvx.com/products/integrated-android-displays/prodvx-appc-10-dskp-poe)
- This is hard. Because you will need a full home automation installation. The touchscreen connects locally to the instalation with th

[2018-08-16 08:44] marci4 commented on #293
I quess I meant #424....

[2018-08-16 09:39] yokey1219 opened #758 "Address already in use when app crashed and restart"
When app crashed,and then restart ,get a "Address already in use" exception.
I checked with command 'netstat',there was some data in inqueue of local socket,so local socket cannot close.All the closed connection was in status 'CLOSE_TIMEWAIT'.
## Expected Behavior

Local socket can close.
## Current Behavior

Local socket can not  close.
## Possible Solution

Please give me some suggestion.
## Ste

[2018-08-16 10:40] PhilipRoman commented on #758
Have you tried using the setTcpNodelay(true) option? This should not be an issue caused by this library. Also, if possible you could allow the OS to pick a random free port instead of hardcoding it.

[2018-08-16 20:38] Librichard opened #759 "Draft_17 Refuses Handshake"
## Expected Behavior
Connected to WSS server

## Current Behavior
	 Server: /xxx:443
	 Code: -1
	 Reason: draft org.java_websocket.drafts.Draft_17@46c04b76 refuses handshake
	 Remote: false

## Possible Solution
If we use Jetty WebSocket implementation, it works.

## Debug log (for bugs)
write(157): {GET /xfer HTTP/1.1
Connection: Upgrade
Host: xxx:443
Sec-WebSocket-Key: xxx
Sec-WebSocket-Version:

[2018-08-17 01:27] yokey1219 commented on #758
I was trying the setReuseAddr(true) option,but it's still happened sometimes.Maybe it's caused by some unkown issue, so i need help.

[2018-08-17 06:28] PhilipRoman commented on #758
Does this only happen when your app crashes? Does it happen when the app is closed normally? I've also experienced this on one of my linux servers. In any case, the TIME_WAIT state should go away after a few minutes. The "reuseAddr" of this library simply forwards to the underlying Java socket APIs and there is nothing we can fix there. I will try to help the best I can though!

[2018-08-17 09:53] marci4 commented on #759
Hello @Librichard,
Please update to the latest version of this library 1.3.9!

Draft_17 got removed a long time ago. The only supported draft is now Draft_6455.

Best regards,
marci4

[2018-08-17 09:59] yokey1219 commented on #758
Thanks for your reply. Yes, it only happens when the app crashes. I will try to reproduce this issue and provide more info.

[2018-08-17 10:05] PhilipRoman commented on #750
I'm closing this because there is no template or other info provided.

[2018-08-17 10:05] #750 closed

[2018-08-17 15:48] Librichard commented on #759
I did, and now I got this error:
	 Server: /xxx:443
	 Code: 1002
	 Reason: Invalid status code received: 400 Status line: HTTP/1.1 400 Bad Request
	 Remote: false

[2018-08-17 16:25] Librichard commented on #311
@farhanlatheef: I found it:
https://github.com/TooTallNate/Java-WebSocket/blob/master/src/main/example/SecWebSocketProtocolClientExample.java

[2018-08-19 09:58] marci4 commented on #759
Hallo @Librichard,

could you maybe tell my what you are trying to achieve....

A few things I can see:

- There is no Sec-WebSocket-Protocol extension registered with the name `xfer` (See [this](https://www.iana.org/assignments/websocket/websocket.xml)). Are you sure that this extension does really exist?
- 400 is the response by your server. This is not a valid http code, which has to be 101....

[2018-08-19 10:13] marci4 commented on #744
Hello @Davevb,

sorry if I don't understand you but why can you not just simple make an application on how you reconnect? Or does it only happen on this specific device with this specific server? Then you may wanna look into the specific hard/software.

Also by any change is this issue solved with 1.3.9? Just making sure we have the same version ;)

Apart from that I am not really sure how I am su

[2018-08-20 03:15] Librichard commented on #759
@marci4 ,
xfer is a protocol on top of WebSocket for a traffic control system. It is implemented in the servers I am dealing with by Siemens. It works fine when I use the Jetty implementation of WebSockets, but it fails when I use yours. Since we are using your jar library in our systems already (java-websockets-v1.3.3), I rather to keep using it, otherwise we have to add the Jetty library to our

[2018-08-20 18:31] marci4 commented on #759
Hello @Librichard,
I was not able to find anything on this Sec-WebSocket-Protocol on the internet.
Could you maybe mail me some more information (if you want to keep it confidential).

Also could you maybe include a debug log using WebSocketImpl.DEBUG = TRUE as well as the way you connect using jetty and the way you try to connect using this library.

Best regards,
marci4

[2018-08-20 21:43] marci4 commented on #740
Hello @schauersbergern,

is there any update on your issue?

Best regards,
marci4

[2018-08-21 19:01] marci4 commented on #752
No template. Closing issue...

Best regards,
marci4

[2018-08-21 19:01] #752 closed

[2018-08-22 13:15] schauersbergern commented on #740
Hello @marci4

sorry for answering late, I just returned from vacation.

Thank you for your support, I could solve the issue with your Sec-WebSocket-Protocol example.

But as you stated, that it only works with "ocpp2.0" was not the case with our application.
When I changed it to "echo-protocol" it worked quite well, but I think that's the issue
with our wss server.

best regards,
schauersbergern

[2018-08-22 17:04] marci4 commented on #740
Hello @schauersbergern,

thank you for your feedback.
I quess I can close this issue then!

Sorry if the example was not clear enough. I just meant that in this specific case, the only Sec-WebSocket-Protocol allowed would be "ocpp2.0".
Maybe I need to rewrite it!

Best regards,
marci4

[2018-08-22 17:04] #740 closed

[2018-08-28 10:54] nsjames commented on #758
I see this also happening ( consistently ) with `setReuseAddr(true)` when starting a server as the app starts, and then reloading the app in an emulator.

[2018-08-28 18:03] marci4 commented on #758
Hello @nsjames,

could you maybe provide an example application (repository) and some steps to repeat?

Thank you!

Best regards,
marci4

[2018-08-28 20:42] nsjames commented on #758
The code is currently closed source but it'll be open source fairly soon.

I'll be sure to link the repo once it is!

[2018-08-29 11:28] sky9971 opened #760 "websocket waits for response for multiple commands"
## Expected Behavior
I would like to send requests to my webserver without waiting for response, because if I wait for response it slows down my queue. In order to speed up the requests I don't the webserver to listen to any incoming messages. My webserver is only returning 200 as a response code which is not needed by me.

## Current Behavior
Currently the requests are getting queued and my andro

[2018-08-29 12:03] marci4 commented on #760
Hello @sky

Please use the `Bug Report` template provided at https://raw.githubusercontent.com/TooTallNate/Java-WebSocket/master/.github/ISSUE_TEMPLATE.md. DO NOT forget to provide an example code!

Without a full bug report this will be closed.

Best regards,
marci4

[2018-08-29 17:26] marci4 commented on #744
Any update?

[2018-08-31 08:28] Niall7459 opened #762 "How to send an ArrayBuffer"
I need to send an ArrayBuffer over socket.

How can this  be achieved?

Thanks

[2018-08-31 09:36] PhilipRoman commented on #762
What is the ArrayBuffer class you're mentioning? Is it `org.simpleframework.util.buffer.ArrayBuffer` from SimpleFramework or do you mean the JavaScript ArrayBuffer? If it is from SimpleFramework, you could ask in their forums about how to get the bytes as a byte array or a ByteBuffer.

[2018-08-31 11:57] Niall7459 commented on #762
I’m executing an new ArrayBuffer() on the data received in javascript but I’m not sure how to actually send an ArrayBuffer

[2018-08-31 11:58] Niall7459 commented on #762
Il try using simpleframework

[2018-09-03 14:09] ihsanhaikalz opened #763 "How to ping client from server after sucessful connection"
Hi there.

I saw your library for websocket and I think it's very straightforward than normal websocket as I am new in this websocket development area. I would like to create an application between client and server where client first connects to the server and once that server and client are connected, server then sends the "ping" request to client in order to get the RTT between server and clien

[2018-09-03 20:43] PhilipRoman commented on #762
Sorry for delayed reply!

If you are talking about Javascript ArrayBuffer, you certainly don't need SimpleFramework! I mentioned it because it was the first thing that came up about ArrayBuffer in Java. Anyway, I think you should take a look at the [Javascript WebSocket documentation](https://developer.mozilla.org/en-US/docs/Web/API/WebSocket).
 I'm closing this issue because it is not related to

[2018-09-03 20:43] #762 closed

[2018-09-04 20:18] marci4 commented on #763
Hello @ihsanhaikalz,

you got a lot of questions in there, so I try to answer them one by one.

- The websocket protocol does not care if the endpoint is in the role of a client or a server when it comes to ping/pong frames. Both endpoints are allowed to send a ping and the other endpoint has to respond with a pong. We use this to [detect if a connection is lost](https://github.com/TooTallNate/Jav

[2018-09-05 05:58] #598 closed

[2018-09-05 15:01] ihsanhaikalz commented on #763
@marci4 Hi. Thanks very much for the info.

As for the code I am currently following the SimpleServer and EmptyClient classes mentioned in this library and it works in localhost. Now just the question of how to make the client side to connect to server with public IP address.

My server code is something like this.

[code]

The server code will ping the client once the connection is established, i

[2018-09-05 20:45] VolodymyrSmolynets opened #764 "Use a SocketFactory to support reconnecting"
https://github.com/TooTallNate/Java-WebSocket/blob/219f54e0f68a66b2cffab1a327e5cf57044deb4f/src/main/java/org/java_websocket/client/WebSocketClient.java#L227

please add

public void reconnect(Socket socket) {
        reset();
        setSocket(socket);
        connect();
    }

or make reset public

[2018-09-05 20:46] marci4 commented on #764
Hello @VolodymyrSmolynets

Please use the `Bug Report` template provided at https://raw.githubusercontent.com/TooTallNate/Java-WebSocket/master/.github/ISSUE_TEMPLATE.md.

Without a full bug report this will be closed.

Best regards,
marci4

[2018-09-05 20:53] VolodymyrSmolynets commented on #764
It is not a defect, just cannot reconnect with with socket I want.

[2018-09-05 20:54] marci4 commented on #764
Please use the template to let me understand the use case, why you need such a method, some steps to repeat etc....

[2018-09-05 21:01] marci4 commented on #763
Hello @ihsanhaikalz,

if I understand you correctly you wanna have the delay between server and client, right?

In regards of the output, yes you will not receive a ping when listening to onMessage(String/ByteBuffer). For using a ping, use `onWebsocketPing`.

You may wanna check out [this](https://gist.github.com/marci4/a4b35949264ea3f59e37fba5c014420c) gist, since I think this will help you!

Bes

[2018-09-05 21:02] marci4 commented on #759
Any update?

[2018-09-05 21:02] VolodymyrSmolynets commented on #764
1. I create a ssl socket with my keystore
2. Set the socked - WebSocketClient.setSocket
3. Connect
4. Lose a connection
5. Try to reconect - WebSocketClient.reconect

On step 5 I lose my ssl socket because reset() make it null, than connect create a new usual socket.

[2018-09-05 21:03] marci4 commented on #600
JavaDocs should be good enough

[2018-09-05 21:03] #600 closed

[2018-09-06 09:07] ihsanhaikalz commented on #763
Hi @marci4.

Thanks for the code! I have updated my code and now the ping works.

But the result between normal ping from client to server using ping command line or psping application (20ms) is much better than the ping using websocket from server to client (100ms). I suspect the problem is when pinging with websocket it actually goes to layer 7 application that will take more time instead of onl

[2018-09-06 10:09] FlorentMasson opened #765 "Reload SSL Certificate"
I just saw the Let's Encrypt example here:  [Java-WebSocket/src/main/example/SSLServerLetsEncryptExample.java ](https://github.com/TooTallNate/Java-WebSocket/blob/fa3909c391195178ccf5a92d4ac342a30ae247c8/src/main/example/SSLServerLetsEncryptExample.java)
Is the certificate updated automatically in the server when the file changes (letsencrypt certificates expire after 90 days), or is a reload need

[2018-09-06 19:00] marci4 commented on #764
So it would be better if you can set a `SocketFactory` instead of a `Socket`?
So you do not have to take care for this?

[2018-09-06 19:03] marci4 commented on #765
Hello @FlorentMasson,

no it does not automatically reload. It is an example just for the simple purpose to show how to get a SSLContext with a Let's Encrypt certificate and how to use it with this library...

Yes, simple update the `WebSocketFactory`.

Best regards,
marci4

[2018-09-06 19:27] marci4 commented on #763
Hello @ihsanhaikalz,

for a real representative ping, you need to send the message back to the server, since clocks will be different on different computers.

Apart from this, you can always enable [TCP_NODELAY](https://github.com/TooTallNate/Java-WebSocket/wiki/Enable-TCP_NODELAY).

Best regards,
marci4

[2018-09-06 19:35] VolodymyrSmolynets commented on #764
Yes, it could be a solution.

[2018-09-06 20:13] marci4 commented on #686
No real solution found. Compile will still exist.

Closing this issue, exact info will be removed anyway with 1.4.0.

[2018-09-06 20:13] #686 closed

[2018-09-06 20:26] marci4 commented on #262
This issue is implemented with #598.

Best regards,
marci4

[2018-09-06 20:26] #262 closed

[2018-09-08 01:05] Librichard commented on #759
I am not working on that project anymore. Actually I don't work there anymore.
I think you didn't find anything about XFER because it is proprietary. I set the DEBUG = TRUE, that's how I got all the client request details.
It seems jetty does not have the idea of drafts. Its API is different from yours. For some reason, the XFER server is able to handshake with our client using their library (foll

[2018-09-08 01:05] #759 closed

[2018-09-09 08:50] marci4 opened #766 "Setup example servers"
## Expected Behavior

This project should have some example servers with client examples!

## Current Behavior

This project does not have any example servers!

## Possible Solution

Example servers for:
- [x] [Echo](https://github.com/marci4/Java-WebSocket-Echo)
- [ ] Accept Handshake
- [ ] Protocols and protocol rejection

## Context

This would help people understand different behaviours!

[2018-09-10 13:18] IlyaMyasoedov opened #767 "Android 8.0 (Oreo) : the server is not getting a client request through websockets"
## Summary
I use a Java-Websocket library for communication with server. The client sends a request through websockets and there are no exceptions on a client side but the server is not getting anything. Meanwhile the connection is established and when the server sends something to the client, the client is getting the data without errors.The issue is reproduced on Android 8+ only, on devices with

[2018-09-10 14:13] marci4 commented on #767
Hello @IlyaMyasoedov,

please provide an example application!

Best regards,
marci4

[2018-09-10 17:48] #764 closed

[2018-09-11 08:39] martin-g opened #773 "Memory leak in WebSocketImpl.outQueue"
Hi,

This is not a bug report or feature request but actually I'd like to ask for help debugging a possible memory leak.

In the following screenshot you can see that ~51% of the used heap is kept by WebSocketWorker and WebSocketImpl.

![51-percents-in-websocketserver](https://user-images.githubusercontent.com/232002/45348398-32292500-b5b7-11e8-999b-35d337c871be.png)

And here we see that actually

[2018-09-11 13:33] chuntakung opened #774 "[Question] Multiple copies of ping packet in a packet from websocket server?"
We take ad of the library to build our own device onboarding via softAP. To perceive the lost client faster, we setConnectionLostTimeout to be 5 seconds when instantiating the WebsocketServer. However, unexpected closure of websocket was seen and we saw the PING packet contains many many copies of websocket PING frames in single tcp, which might cause oversized PONG to be received. Wireshark scree